<div class="scroller w-full mx-auto" data-direction="right" data-speed="fast">
  <ul class="tag-list scroller__inner">
    <img src="/images/animation-card1.svg" class="full-size-image" />
    <img src="/images/animation-card2.svg" class="full-size-image" />
    <img src="/images/animation-card3.svg" class="full-size-image" />
    <img src="/images/animation-card4.svg" class="full-size-image" />
    <img src="/images/animation-card5.svg" class="full-size-image" />
  </ul>
</div>
<div class="scroller w-full mx-auto" data-direction="left" data-speed="fast">
  <ul class="tag-list scroller__inner">
    <img src="/images/animation-card1.svg" class="full-size-image" />
    <img src="/images/animation-card2.svg" class="full-size-image" />
    <img src="/images/animation-card3.svg" class="full-size-image" />
    <img src="/images/animation-card4.svg" class="full-size-image" />
    <img src="/images/animation-card5.svg" class="full-size-image" />
  </ul>
</div>
