<!-- animation to left -->
<div class="overflow-hidden relative">
  <div class="flex animate-scroll">
    <ng-container *ngFor="let i of [0, 1]">
      <div *ngFor="let card of toLeftCard" class="card">
        <img
          [src]="card.image"
          alt="Card {{ card.id }}"
          class="full-size-image"
        />
      </div>
    </ng-container>
  </div>
</div>

<!-- animation to right -->
<div class="overflow-hidden relative mt-10">
  <div class="flex animate-scroll2">
    <ng-container *ngFor="let i of [0, 1]">
      <div *ngFor="let card of toRightCard" class="card">
        <img
          [src]="card.image"
          alt="Card {{ card.id }}"
          class="full-size-image"
        />
      </div>
    </ng-container>
  </div>
</div>
