<form action="">
  <div class="flex items-center">
    <input
      type="email"
      id="helper-text"
      aria-describedby="helper-text-explanation"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-xl focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="name@yahoo.com"
    />
    <button
      routerLink="/successfully_subscribed"
      type="submit"
      class="bg-[#873de6] hover:bg-[#7936d1] transition-colors text-white w-60 px-6 py-2 rounded-xl ml-2"
    >
      Join Waiting List
    </button>
  </div>
</form>
