<!-- analyzing-document.component.html -->
<div class="w-full flex flex-col justify-center items-center">
  <div class="relative mb-8">
    <!-- <div class="w-20 h-20 rounded-full bg-purple-200 opacity-50"></div> -->
    <img
      src="images/new/circles.gif"
      class="w-20 h-20 opacity-40 blur-xl"
      alt=""
    />

    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    >
      <img src="images/new/stars.gif" class="w-52" alt="" />
    </div>
  </div>

  <!-- Status text -->
  <div class="text-center">
    <h3
      [ngClass]="{
        'text-gray-400': analysisComplete,
        'text-black font-medium': !analysisComplete
      }"
      class="text-xl mb-2"
    >
      Analyzing the document
    </h3>
    <p
      [ngClass]="{
        'text-black font-medium': analysisComplete,
        'text-gray-400': !analysisComplete
      }"
      class="text-lg"
    >
      Bringing our top consultants...
    </p>
  </div>
</div>
