<!-- analyzing-document.component.html -->
<div class="w-full flex flex-col justify-center items-center">
  <div class="relative mb-8">
    <!-- Animated spinner -->
    <div class="lds-grid">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <!-- Status text -->
  <div class="text-center">
    <h3
      [ngClass]="{
        'text-gray-400': analysisComplete,
        'text-black font-medium': !analysisComplete
      }"
      class="text-xl mb-2"
    >
      Analyzing the document
    </h3>
    <p
      [ngClass]="{
        'text-black font-medium': analysisComplete,
        'text-gray-400': !analysisComplete
      }"
      class="text-lg"
    >
      Bringing our top consultants...
    </p>
  </div>
</div>
