<div class="w-full max-w-[1600px] mx-auto h-screen">
  <app-navbar></app-navbar>
  <section class="bg-white mt-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Left side: Form content -->
      <div
        class="flex md:items-center h-screen justify-center px-4 md:order-1 order-2"
      >
        <div class="w-full space-y-6 mt-[48px] md:mt-0 max-w-[480px]">
          <!-- Title -->
          <div class="w-full flex justify-center md:mb-10">
            <img
              src="/images/pink-logo.png"
              class="md:w-60 w-[237.5px]"
              alt="logo"
            />
          </div>
          <!-- Subtitle -->
          <h2
            class="md:text-[32px] text-[28px] text-black md:mb-3 font-[500] text-center"
          >
            Create your free account
          </h2>

          <!-- Step 1: Email Entry -->
          <div *ngIf="currentStep === registrationStep.EmailEntry">
            <p
              class="text-[#475467] text-[16px] md:w-[480px] font-[400] text-center md:mb-10"
            >
              Revolutionize consulting with AI. Empower your team to lead,
              innovate, and shape the future.
            </p>
            <!-- LinkedIn Button -->
            <div class="w-full flex justify-center mt-10 md:mt-0">
              <button
                class="w-[329px] flex text-[16px] gap-2 md:w-[480px] h-[48px] font-[500] items-center justify-center py-2.5 px-5 text-sm text-white bg-[#0077B5] rounded-xl hover:bg-[#0076b5c7]"
              >
                <!-- LinkedIn SVG Icon -->
                <img src="/images/linkedin.svg" alt="" />
                Continue with LinkedIn
              </button>
            </div>
            <!-- Divider -->
            <div class="w-full flex justify-center">
              <div class="flex md:w-[480px] w-[329px] items-center my-4">
                <div class="flex-grow h-px bg-gray-300"></div>
                <span class="px-4 text-sm text-gray-500">or</span>
                <div class="flex-grow h-px bg-gray-300"></div>
              </div>
            </div>

            <div
              class="w-full flex flex-col justify-center text-left items-center"
            >
              <label
                for="email"
                class="block md:w-full w-[329px] text-sm text-left mb-2 font-medium text-[#14151A]"
              >
                Enter your work email
              </label>
              <input
                type="email"
                id="email"
                [(ngModel)]="email"
                placeholder="email@mail.com"
                class="mt-1 block w-[329px] md:w-[480px] h-[40px] py-2.5 px-3 border border-[#DEE0E3] placeholder:text-[#0D112666]/60 rounded-xl"
              />
              <div *ngIf="emailError" class="text-red-500 text-sm mt-1">
                {{ emailError }}
              </div>
              <button
                type="button"
                (click)="checkEmail()"
                class="block w-[329px] mt-4 bg-[#9241DC] md:w-[480px] h-[48px] py-2.5 px-3 border border-[#DEE0E3] text-white rounded-xl"
              >
                Continue
              </button>
              <div class="w-full text-center mt-4">
                <span class="text-xs font-[400] text-[#475467]">
                  By continuing, you agree to Consultitude’s
                  <a class="underline" routerLink="/terms-and-condition"
                    >Terms of Service</a
                  >
                  and
                  <a class="underline" routerLink="/privacy-and-policy"
                    >Privacy Policy.</a
                  >
                </span>
              </div>
            </div>
          </div>

          <!-- Step 2: Code Verification -->
          <div *ngIf="currentStep === registrationStep.CodeVerification">
            <p
              class="text-[#475467] text-[16px] md:w-[480px] font-[400] text-center md:mb-10"
            >
              We’ve sent a temporary login code to your registered email. <br />
              Please check and enter it to proceed.
            </p>
            <div
              class="w-full flex flex-col md:w-[480px] mt-10 md:mt-0 justify-center text-left items-center"
            >
              <label
                for="verificationCode"
                class="block text-sm md:w-full w-[329px] text-left mb-2 font-medium text-[#14151A]"
              >
                Enter login code
              </label>
              <input
                type="password"
                id="verificationCode"
                [(ngModel)]="verificationCode"
                placeholder="******"
                class="w-[329px] md:w-[480px] h-[40px] py-2.5 px-3 border border-[#DEE0E3] rounded-xl"
              />
              <div
                *ngIf="verificationCodeError"
                class="text-red-500 text-sm mt-1"
              >
                {{ verificationCodeError }}
              </div>
              <div
                class="flex justify-between md:w-[480px] gap-5 items-center mt-5"
              >
                <button
                  type="button"
                  (click)="goBack()"
                  class="bg-white border h-[48px] flex items-center justify-center border-[#DEE0E3] text-black px-4 py-2 rounded-xl"
                >
                  Back
                </button>
                <button
                  type="button"
                  (click)="verifyCode()"
                  class="bg-[#9241DC] md:w-full w-[235px] h-[48px] text-white px-4 py-2 rounded-xl"
                >
                  Continue
                </button>
              </div>
              <div class="w-full text-center mt-4">
                <span class="text-xs font-[400] text-[#475467]">
                  By continuing, you agree to Consultitude’s
                  <a class="underline" routerLink="/terms-and-condition"
                    >Terms of Service</a
                  >
                  and
                  <a class="underline" routerLink="/privacy-and-policy"
                    >Privacy Policy.</a
                  >
                </span>
              </div>

              <div class="w-full text-center mt-2">
                <p class="text-[14px] font-[400] text-[#475467]">
                  Code expired?
                  <a href="/login" class="text-[#6941C6] underline"
                    >Resend code</a
                  >
                </p>
              </div>
            </div>
          </div>

          <!-- Step 3: Password Setup -->
          <div *ngIf="currentStep === registrationStep.PasswordSetup">
            <p
              class="text-[#475467] text-[16px] md:w-[480px] font-[400] text-center md:mb-10"
            >
              Please set your password.
            </p>
            <div
              class="w-full flex flex-col mt-10 md:mt-0 justify-center text-left items-center"
            >
              <label
                for="password"
                class="block md:w-full w-[329px] text-left text-sm mb-2 font-medium text-[#14151A]"
              >
                Enter password
              </label>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                placeholder="*****"
                class="w-[329px] md:w-[480px] h-[40px] py-2.5 px-3 border border-[#DEE0E3] rounded-xl"
              />
              <div *ngIf="passwordError" class="text-red-500 text-sm mt-1">
                {{ passwordError }}
              </div>
              <label
                for="confirmPassword"
                class="block text-sm md:w-full w-[329px] text-left mt-4 mb-2 font-medium text-[#14151A]"
              >
                Re-enter password
              </label>
              <input
                type="password"
                id="confirmPassword"
                [(ngModel)]="confirmPassword"
                placeholder="*****"
                class="w-[329px] md:w-[480px] h-[40px] py-2.5 px-3 border border-[#DEE0E3] rounded-xl"
              />
              <div
                *ngIf="confirmPasswordError"
                class="text-red-500 text-sm mt-1"
              >
                {{ confirmPasswordError }}
              </div>
              <div
                class="flex justify-between md:w-[480px] gap-5 items-center mt-5"
              >
                <button
                  type="button"
                  (click)="goBack()"
                  class="bg-white border h-[48px] flex items-center justify-center border-[#DEE0E3] text-black px-4 py-2 rounded-xl"
                >
                  Back
                </button>
                <button
                  type="button"
                  (click)="setupPassword()"
                  class="bg-[#9241DC] md:w-full w-[235px] h-[48px] text-white px-4 py-2 rounded-xl"
                >
                  Create an account
                </button>
              </div>
              <div class="w-full text-center mt-4">
                <span class="text-xs font-[400] text-[#475467]">
                  By continuing, you agree to Consultitude’s
                  <a class="underline" routerLink="/terms-and-condition"
                    >Terms of Service</a
                  >
                  and
                  <a class="underline" routerLink="/privacy-and-policy"
                    >Privacy Policy.</a
                  >
                </span>
              </div>
            </div>
          </div>

          <!-- Step 4: User Profile -->
          <div *ngIf="currentStep === registrationStep.UserProfile">
            <p
              class="text-[#475467] text-[16px] w-full font-[400] text-center md:mb-10"
            >
              We are honored to have you in our family and would love to get to
              know you! 👋
            </p>
            <div
              class="w-full flex flex-col justify-center mt-10 md:mt-0 text-left items-center"
            >
              <label
                for="name"
                class="block md:w-full w-[329px] text-left text-sm mb-2 font-medium text-[#14151A]"
              >
                Enter your name
              </label>
              <input
                type="text"
                id="name"
                [(ngModel)]="name"
                placeholder="Your name"
                class="w-[329px] md:w-[480px] h-[40px] py-2.5 px-3 border border-[#DEE0E3] rounded-xl"
              />
              <label
                for="currentRole"
                class="block md:w-full w-[329px] text-left text-sm mt-4 mb-2 font-medium text-[#14151A]"
              >
                Current role
              </label>
              <input
                type="text"
                id="currentRole"
                [(ngModel)]="currentRole"
                placeholder="Your current role"
                class="w-[329px] md:w-[480px] h-[40px] py-2.5 px-3 border border-[#DEE0E3] rounded-xl"
              />
              <div
                class="flex justify-between md:w-[480px] gap-5 items-center mt-5"
              >
                <button
                  type="button"
                  (click)="goBack()"
                  class="bg-white border h-[48px] flex items-center justify-center border-[#DEE0E3] text-black px-4 py-2 rounded-xl"
                >
                  Back
                </button>
                <button
                  type="button"
                  (click)="completeRegistration()"
                  class="bg-[#9241DC] md:w-full w-[235px] h-[48px] text-white px-4 py-2 rounded-xl"
                >
                  Continue
                </button>
              </div>
              <div class="w-full text-center mt-4">
                <span class="text-xs font-[400] text-[#475467]">
                  By continuing, you agree to Consultitude’s
                  <a class="underline" routerLink="/terms-and-condition"
                    >Terms of Service</a
                  >
                  and
                  <a class="underline" routerLink="/privacy-and-policy"
                    >Privacy Policy.</a
                  >
                </span>
              </div>
            </div>
          </div>

          <!-- Step 5: Completion -->
          <div
            *ngIf="currentStep === registrationStep.Completion"
            class="text-center"
          >
            <h3 class="text-[24px] font-[500] text-black mb-4">
              Hello, {{ name }}!
            </h3>
            <p class="text-[#475467] text-[16px] md:w-[480px] font-[400]">
              Your registration is complete.
            </p>
          </div>

          <!-- Footer: Already have an account? -->
          <div
            class="w-full text-center mt-10"
            *ngIf="currentStep !== registrationStep.Completion"
          >
            <p class="text-[14px] font-[400] text-[#475467]">
              Already have an account?
              <a href="/auth/login" class="text-[#6941C6]">Login</a>
            </p>
          </div>
        </div>
      </div>

      <!-- Right side: Image -->
      <div class="flex md:order-2 order-1">
        <img
          class="object-cover w-full h-[100px] md:h-full"
          src="/images/Section.png"
          alt="Login Image"
        />
      </div>
    </div>
  </section>
</div>
