<!-- features.component.html -->
<div class="bg-[#11061A] py-20 ipad:py-40 px-4 ipad:px-20">
  <div class="max-w-[1600px] w-full mx-auto px-1 md:px-8">
    <!-- Header -->
    <div class="text-center mb-16">
      <div
        class="inline-flex items-center justify-center gap-1 bg-[#873DE6]/30 border border-[#FFFFFF]/15 pl-2 pr-2.5 py-1 rounded-full mb-4"
      >
        <img
          src="images/new/Left circle.svg"
          class="absolute xs:hidden xss:hidden ipad:block left-0"
          alt=""
        />
        <div class="flex items-center gap-1">
          <img src="images/new/lead-icon.svg" alt="" />
          <span class="text-white font-sans text-sm">Features</span>
        </div>
      </div>
      <h2
        class="text-white text-2xl ipad:text-[52px] leading-tight font-medium mb-4"
      >
        Powerful Features to Elevate<br />Your Consulting Workflow
      </h2>
      <p class="text-gray-300 max-w-3xl text-[17px] ipad:text-[24px] mx-auto">
        Consultitude mirrors how top-tier firms work, multiple inputs,<br />
        deep analysis, expert perspective, and structured delivery
      </p>
    </div>

    <!-- Features Grid -->
    <div class="grid grid-cols-1 gap-[72px] mt-[70px] ipad:mt-[160px]">
      <!-- Feature 1: Rapid Response -->
      <div class="flex flex-col thousand:flex-row items-center bg-[#11061A]">
        <div class="thousand:w-1/2 text-center thousand:text-left mb-8 md:mb-0">
          <h3
            class="text-white text-2xl ipad:text-[52px] relative leading-tight font-medium mb-2"
          >
            Rapid <br />
            Response
            <img
              src="images/new/Star.svg"
              class="absolute -top-20 ipad:-left-20"
              alt=""
            />
          </h3>
          <p class="text-[#FFFFFF] text-[16px] ipad:text-[20px] mb-4">
            AI-Powered Reviews & Deep Document Analysis
          </p>
          <ul
            class="text-[#D0D5DD]/80 font-sans text-[14px] ipad:text-[18px] max-w-[560px]"
          >
            <li>
              AI-led Rapid Response managed by EVO, our orchestration engine.
            </li>
            <li>
              Multiple specialized agents collaborate, moderated in one
              intelligent flow, so your final deliverable is clean, relevant,
              and client-ready.
            </li>
          </ul>
        </div>
        <div
          class="thousand:w-1/2 ipad:mt-10 thousand:mt-0 bg-gradient-to-br from-[#12061a] to-[#4d266d] pr-10 py-10 rounded-lg"
        >
          <img
            src="images/new/section1.svg"
            alt="Rapid Response Interface"
            class="rounded-lg shadow-lg"
          />
        </div>
      </div>

      <!-- Feature 2: Talk to AI Consultant -->
      <div class="flex flex-col thousand:flex-row-reverse gap-20 items-center">
        <div class="thousand:w-1/2 text-center thousand:text-left mb-8 md:mb-0">
          <h3
            class="text-white text-2xl ipad:text-[52px] relative leading-tight font-medium mb-2"
          >
            Talk to AI <br />
            Consultant
            <img
              src="images/new/Star.svg"
              class="absolute -top-24 ipad:-left-12"
              alt=""
            />
          </h3>
          <p class="text-[#FFFFFF] text-[16px] ipad:text-[20px] mb-4">
            One-on-One Conversations with Pretrained Domain Experts
          </p>
          <ul
            class="text-[#D0D5DD]/80 font-sans text-[14px] ipad:text-[18px] max-w-[560px]"
          >
            <li>Pick the right virtual expert and explore your challenge.</li>
            <li>
              Whether it’s go-to-market, operations, digital, public sector, or
              more, It’s like having a rotating bench of top-tier consultants,
              always on
            </li>
          </ul>
        </div>
        <div class="thousand:w-1/2 ipad:mt-10 thousand:mt-0">
          <img
            src="images/new/section2.svg"
            alt="AI Consultant Interface"
            class="rounded-lg shadow-lg"
          />
        </div>
      </div>

      <!-- Feature 3: Build a Presentation -->
      <div class="flex flex-col thousand:flex-row items-center">
        <div class="thousand:w-1/2 text-center thousand:text-left mb-8 md:mb-0">
          <h3
            class="text-white relative text-2xl ipad:text-[52px] leading-tight font-medium mb-2"
          >
            Build <br />
            a Presentation

            <img
              src="images/new/Star.svg"
              class="absolute -top-20 ipad:-left-20"
              alt=""
            />
          </h3>
          <p class="text-[#FFFFFF] text-[16px] ipad:text-[20px] mb-4">
            From Raw Thinking to Slide Decks
          </p>
          <ul
            class="text-[#D0D5DD]/80 font-sans text-[14px] ipad:text-[18px] max-w-[560px]"
          >
            <li>
              Generate a Dot-Dash from your own ideas, from a Rapid Response
              analysis, or after chatting with an AI Consultant. Then watch it
              come to life as a structured, editable Slides.
            </li>
            <li>
              Whether it's a client proposal, bench-marking study, or strategy
              framework pack — you’ll get a clear, structured deck that’s ready
              to present or refine.
            </li>
          </ul>
        </div>
        <div class="thousand:w-1/2 ipad:mt-10 thousand:mt-0">
          <img
            src="images/new/Ellipse 41.svg"
            class="absolute right-0 z-0 hidden w-48 big:w-[140px] res:w-[160px] ipad:block"
            alt=""
          />
          <img
            src="images/new/section3.svg"
            alt="Presentation Builder Interface"
            class="rounded-lg z-50 shadow-lg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
