<div class="mx-auto pt-20 ipad:pt-28 big:pt-28 px-6 ipad:px-6 big:px-6">
  <!-- ++++++++++++++++++++++++++++header chat+++++++++++++++++++++++++++++++++++++++++++++ -->
  <div
    class="mb-5 ipad:ml-2 w-full bg-gradient-to-tr from-[#54148C] to-[#512178] rounded-[20px] h-[400px] relative"
  >
    <img
      src="images/landing/Visual Container.png"
      class="absolute right-0 top-0"
      alt=""
    />

    <div class="w-full text-center">
      <h1 class="pt-10 text-white text-[36px]">Hello {{ name }} ! 👋</h1>
      <p class="text-[24px] text-white font-sans font-[300]">
        Let's get started
      </p>

      <p class="text-[14px] text-white font-sans pt-6 font-[300]">
        Need expert support fast? <br />
        Talk to an AI Consultant trained across multiple domains
      </p>
    </div>

    <!----------------------------------- text area ----------------------------------------->
    <div
      class="border border-[#E9EAEB] bg-[#F9FAFB33]/20 rounded-[24px] pt-6 mt-6 mx-5"
    >
      <textarea
        [(ngModel)]="userInput"
        placeholder="What would you like to ask today?"
        class="flex-grow border-none resize-none bg-transparent focus:outline-none focus:ring-0 focus:border-transparent focus:shadow-none placeholder:text-white text-white placeholder:font-sans font-sans font-[400] text-[14px] leading-tight rounded-md pt-2 pb-4 w-full mb-2"
        rows="1"
      ></textarea>
      <div class="flex justify-between px-5 py-4 items-center">
        <!-- ----------------------------------- fetching agents --------------------------------------- -->

        <div class="grid gap-2 grid-cols-1 thousand:grid-cols-4">
          <div
            *ngFor="let agent of agents"
            (click)="selectAgent(agent)"
            class="rounded-full bg-gradient-to-tr w-[181px] from-[#ffff]/20 to-[#fff0] border cursor-pointer font-sans text-white px-5 py-3 shadow-md"
            [ngClass]="{
              'border-r-[#FFCCF2] border-l-[#FFCCF2] border-t-[#FFCCF2] border-b-[#FFCCF2]':
                selectedAgentId !== agent.id,
              'border-r-[#FFCCF2] border-l-[#FFCCF2] border-t-[#FFCCF2] border-b-[#FFCCF2] bg-gradient-to-tr from-[#370762] to-[#59218A]':
                selectedAgentId === agent.id
            }"
          >
            <div class="flex items-center gap-3">
              <img
                [src]="getIconPath(agent.iconName)"
                [alt]="agent.iconName + ' icon'"
                class="w-6 h-6 object-contain text-white"
              />
              <span class="font-medium line-clamp-1 font-sans">{{
                agent.name
              }}</span>
            </div>
          </div>

          <div
            class="rounded-full w-[181px] bg-gradient-to-tr from-[#ffff]/20 to-[#fff0] border border-r-[#FFCCF2] cursor-pointer border-l-[#FFCCF2] border-t-[#FFCCF2] border-b-[#FFCCF2] font-sans text-white px-5 py-3 shadow-md"
          >
            <button
              (click)="openAiConsultantDialog()"
              class="flex items-center gap-3"
            >
              <img
                src="images/landing/Option Icon4.svg"
                class="w-4 h-4"
                alt=""
              />
              <span class="text-[14px] font-sans">More agents</span>
            </button>
          </div>
        </div>

        <!-- ---------------------------------- send message button and attachment -------------------- -->
        <div class="flex items-center gap-2">
          <button
            class="text-[#667085] mx-2 bg-[#F2F4F7] rounded-full w-[32px] h-[32px] flex items-center justify-center hover:bg-[#E9EAEB] transition-colors"
            (click)="fileInput.click()"
          >
            <img src="images/new/attachment-2.svg" alt="" />
          </button>
          <button
            [disabled]="
              (!selectedConsultant && !selectedAgentId) ||
              userInput.trim() === ''
            "
            (click)="sendMessage()"
            [class.opacity-50]="
              (!selectedConsultant && !selectedAgentId) ||
              userInput.trim() === ''
            "
            class="bg-[#9241DC] text-white rounded-full w-10 h-10 flex items-center justify-center"
          >
            <i class="pi pi-arrow-up"></i>
          </button>
        </div>
      </div>

      <!-- Hidden file input -->
      <input
        type="file"
        #fileInput
        style="display: none"
        accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, text/plain"
      />
    </div>
  </div>

  <!-- Rest of the component remains the same -->
  <!-- ------------------------------------services cards---------------------------------------- -->
  <div class="border rounded-[20px] border-[#DEE0E3] pt-10 px-5 mb-[44px] mt-6">
    <h1 class="text-[#54148C] mb-5 text-[24px] font-sans">Quick Prompts</h1>
    <div
      class="flex xss:flex-col ipad:flex-col thousand:flex-col big:flex-row gap-4 mb-10"
    >
      <!-- three cards -->
      <div
        *ngFor="let service of services"
        (click)="handleServiceClick(service)"
        class="ipad:max-w-full big:max-w-[300px] relative max-h-[157px] border border-[#F2F4F7] w-full rounded-[20px] cursor-pointer shadow-sm hover:shadow-md transition-all p-5 overflow-hidden"
      >
        <div class="absolute top-0 right-0 z-0">
          <img
            [src]="getBackgroundImage(service.name)"
            alt="Service Background"
          />
        </div>
        <div class="flex relative z-40 w-full justify-between items-center">
          <img [src]="getIcons(service.name)" class="w-5 h-5" alt="" />
        </div>
        <h3 class="font-medium text-lg mb-1 text-[18px] mt-5 text-[#101828]">
          {{ service.name }}
        </h3>
        <p class="text-[14px] w-full text-[#667085] mb-5">
          {{ getServiceDescription(service.name) }}
        </p>
      </div>
    </div>
  </div>

  <!-- ------------------------------------History section---------------------------------------- -->
  <div class="history-container mb-10">
    <h1 class="page-title mb-5 text-[24px]">History</h1>

    <app-history
      *ngIf="conversations.length === 0"
      title="No Conversations Yet"
      message="When you start chatting with our AI Consultant, your conversations will appear here."
      [showDivider]="true"
    >
    </app-history>

    <div *ngIf="conversations.length > 0" class="conversation-list">
      <div class="border text-left border-[#F2F4F7] rounded-[16px] p-5">
        <div
          *ngFor="let item of conversations"
          (click)="viewChatHistory(item.conversationId)"
          class="flex justify-between items-start w-full mb-5 cursor-pointer hover:bg-gray-100 transition-all py-2 px-4 rounded-lg"
        >
          <div class="flex flex-col">
            <p class="text-black text-[16px]">{{ item.ask }}</p>
            <p class="text-black text-[16px]">{{ item.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
