<div
  class="w-full flex flex-col items-center space-y-6 justify-center py-16 px-4 sm:px-6 md:px-10 lg:px-20"
>
  <p
    class="text-sm black border w-[144px] h-[28px] border-[#0A0F2914] text-center bg-[#ECDFFB] py-1 px-[1px] rounded-3xl text-[#5314A3] font-semibold"
  >
    Find your template
  </p>
  <h1
    class="md:text-[52px] text-[40px] font-semibold text-center mt-4 mb-6 leading-snug text-[#101828]"
  >
    Knowledge Lounge
  </h1>
  <p
    class="text-center font-sans text-[18px] sm:text-[18px] text-[#344054] mb-8"
  >
    Jumpstart your development process with pre-built solutions for your
    business
  </p>
</div>
