<section class="bg-gray-100 text-black relative px-5 z-10">
  <div class="py-2 px-4 mx-auto max-w-screen-xl pt-10 sm:py-16 lg:px-6">
    <div class="text-center flex justify-center mb-4 items-center w-full">
      <p
        class="text-[#5314A3] flex items-center gap-2 text-center justify-center bg-[#ECDFFB]/30 text-sm border-[#0A0F2914]/10 border py-1 px-2 rounded-full"
      >
        FAQs
      </p>
    </div>
    <h2
      class="mb-6 lg:mb-8 text-3xl lg:text-4xl font-normal text-center text-[#101828] tracking-relaxed"
    >
      Frequently Asked Questions
    </h2>

    <h2 class="mb-6 lg:mb-8 px-10 font-normal text-center text-[#344054e7]">
      Find answers to your questions about Consultitide’s templates, <br />
      features, pricing, and support.
    </h2>

    <div class="mx-auto max-w-screen-md">
      <div
        *ngFor="let faq of faqData; let i = index"
        class="border py-1 px-3 rounded-md mb-2 bg-white border-[#0A0F2914]/10"
      >
        <h2 [id]="'accordion-flush-heading-' + i">
          <button
            type="button"
            class="flex justify-between items-center py-1 w-full font-medium text-left text-[#14151A]"
            (click)="toggleAccordion(i)"
          >
            <span>{{ faq.question }}</span>
            <span class="text-4xl font-bold text-[#0F132499]/60">{{
              isOpen(i) ? "-" : "+"
            }}</span>
          </button>
        </h2>
        <div [hidden]="!isOpen(i)">
          <div class="py-2">
            <p [innerHTML]="faq.answer" class="text-[#0F132499]/60 text-sm"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full text-center mt-8 text-[#344054]">
      <p>
        Need additional help? Contact us at
        <a
          href="hello@consultitude.com"
          class="underline text-[#792EBA]"
          target="_blank"
          >support&#64;consultitude.com</a
        >
        anytime.
      </p>
    </div>
  </div>

  <!-- card -->
  <div
    class="max-w-2xl md:max-w-6xl mt-10 md:mt-0 relative overflow-hidden text-center flex justify-center items-center bg-gradient-to-r from-[#261536]/90 to-[#54148C]/100 rounded-md h-72 mx-auto pb-5"
  >
    <div class="flex flex-col space-y-4">
      <h1 class="text-2xl text-white font-semibold">Need additional help?</h1>
      <p class="text-white">
        Contact us at 
        <a
          class="underline cursor-pointer hover:text-gray-400 transition-colors"
        >
          support&#64;consultitide.com</a
        >
        anytime.
      </p>
      <div class="flex items-center justify-center gap-4">
        <button
          class="rounded-md py-2 px-5 text-black text-center bg-white hover:bg-gray-200 transition-colors"
        >
          Learn more
        </button>
        <button
          class="rounded-md py-2 px-5 text-white text-center bg-[#7F56D9] hover:bg-[#7c4fde] transition-colors"
        >
          Get started
        </button>
      </div>
    </div>
    <div class="absolute top-0 right-0">
      <img class="" src="/images/Group.svg" alt="card icon" />
    </div>
  </div>

  <!-- contact us -->
  <app-contactus></app-contactus>
</section>

<app-footer></app-footer>
