<div class="w-full h-screen flex justify-center items-center">
  <div class="mt-8 p-6 bg-white rounded-lg max-w-[744px] w-full">
    <!-- Stepper Header Skeleton -->
    <div class="flex flex-col mb-5">
      <div class="flex items-start">
        <div class="w-8 h-8 bg-gray-200 rounded-full animate-pulse"></div>
        <div class="ml-2">
          <div class="h-8 w-64 bg-gray-200 rounded-md animate-pulse mb-2"></div>
          <div class="h-4 w-72 bg-gray-200 rounded-md animate-pulse"></div>
        </div>
      </div>
    </div>

    <!-- File Upload Area Skeleton -->
    <div class="mb-6 px-10">
      <div
        class="border border-[#E9EAEB] bg-[#F9FAFB] rounded-lg py-12 px-6 flex flex-col items-center justify-center"
      >
        <div class="w-10 h-10 bg-gray-200 rounded-md animate-pulse mb-3"></div>
        <div class="h-5 w-32 bg-gray-200 rounded-md animate-pulse"></div>
      </div>

      <!-- Button Area Skeleton -->
      <div class="flex justify-between mt-5">
        <div class="w-8 h-8 bg-gray-200 rounded-md animate-pulse"></div>
        <div class="flex items-center gap-4">
          <div class="h-10 w-24 bg-gray-200 rounded-xl animate-pulse"></div>
          <div class="h-6 w-24 bg-gray-200 rounded-md animate-pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>
