<!-- loader---------------------------------------------------- -->
<div class="bg-[#F9FAFB] mx-auto py-[64px] px-4 md:ps-10 lg:ps-20">
  <div class="max-w-[1920px] mx-auto">
    <!-- Header Section Skeleton -->
    <div
      class="grid grid-cols-1 md:grid-cols-12 md:gap-10 items-start justify-between"
    >
      <!-- Left side skeleton -->
      <div
        class="col-span-12 md:pr-2 2xl:pr-6 md:border-r border-[#e0e2e6] md:col-span-4 w-full"
      >
        <div class="">
          <!-- Back button skeleton -->
          <div class="flex items-center gap-2 mb-[32px]">
            <div class="w-4 h-4 bg-gray-200 rounded-full animate-pulse"></div>
            <div class="w-32 h-4 bg-gray-200 rounded animate-pulse"></div>
          </div>

          <div class="grid md:grid-cols-1 gap-8">
            <div>
              <!-- Title and description skeleton -->
              <div
                class="flex flex-col md:flex-row border-b pb-4 justify-between items-start md:items-center gap-6"
              >
                <div class="flex-1">
                  <div
                    class="w-3/4 h-8 bg-gray-200 rounded animate-pulse mb-4"
                  ></div>
                  <div
                    class="w-full h-4 bg-gray-200 rounded animate-pulse mb-2"
                  ></div>
                  <div
                    class="w-4/5 h-4 bg-gray-200 rounded animate-pulse"
                  ></div>
                </div>
              </div>

              <!-- Features skeleton -->
              <div class="space-y-3 mt-4 md:mt-[33px]">
                <div class="flex items-center gap-3">
                  <div
                    class="w-4 h-4 bg-gray-200 rounded-full animate-pulse"
                  ></div>
                  <div
                    class="w-3/4 h-4 bg-gray-200 rounded animate-pulse"
                  ></div>
                </div>
                <div class="flex items-center gap-3">
                  <div
                    class="w-4 h-4 bg-gray-200 rounded-full animate-pulse"
                  ></div>
                  <div
                    class="w-2/3 h-4 bg-gray-200 rounded animate-pulse"
                  ></div>
                </div>
                <div class="flex items-center gap-3">
                  <div
                    class="w-4 h-4 bg-gray-200 rounded-full animate-pulse"
                  ></div>
                  <div
                    class="w-3/4 h-4 bg-gray-200 rounded animate-pulse"
                  ></div>
                </div>
              </div>

              <!-- Buttons skeleton -->
              <div class="flex w-full items-center mt-5 justify-center gap-4">
                <div class="w-32 h-10 bg-gray-200 rounded animate-pulse"></div>
                <div class="w-32 h-10 bg-gray-200 rounded animate-pulse"></div>
              </div>
            </div>

            <!-- Pricing & Details skeleton -->
            <div>
              <div class="flex justify-between border-b p-2 items-center">
                <div class="w-24 h-4 bg-gray-200 rounded animate-pulse"></div>
                <div class="w-16 h-4 bg-gray-200 rounded animate-pulse"></div>
              </div>
              <div class="flex justify-between border-b p-2 items-center">
                <div class="w-20 h-4 bg-gray-200 rounded animate-pulse"></div>
                <div class="w-24 h-4 bg-gray-200 rounded animate-pulse"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side skeleton -->
      <div class="col-span-12 md:col-span-8 mt-10 md:mt-0">
        <!-- Main image skeleton -->
        <div
          class="bg-gray-200 animate-pulse rounded-lg md:max-w-[756px] h-[200px] md:h-[395px]"
        ></div>

        <!-- Carousel skeleton -->
        <div class="mt-6">
          <div class="flex space-x-2 overflow-hidden">
            <div class="w-1/5 h-[97px] bg-gray-200 rounded animate-pulse"></div>
            <div class="w-1/5 h-[97px] bg-gray-200 rounded animate-pulse"></div>
            <div class="w-1/5 h-[97px] bg-gray-200 rounded animate-pulse"></div>
            <div class="w-1/5 h-[97px] bg-gray-200 rounded animate-pulse"></div>
            <div class="w-1/5 h-[97px] bg-gray-200 rounded animate-pulse"></div>
          </div>
        </div>

        <!-- Overview skeleton -->
        <div class="pt-10">
          <div class="w-48 h-6 bg-gray-200 rounded animate-pulse mb-4"></div>
          <div class="w-full h-4 bg-gray-200 rounded animate-pulse mb-2"></div>
          <div class="w-full h-4 bg-gray-200 rounded animate-pulse mb-2"></div>
          <div class="w-3/4 h-4 bg-gray-200 rounded animate-pulse"></div>

          <!-- Tags skeleton -->
          <div
            class="w-32 h-6 bg-gray-200 rounded animate-pulse mt-10 mb-6"
          ></div>
          <div class="mt-6">
            <div class="mb-4">
              <div
                class="w-36 h-5 bg-gray-200 rounded animate-pulse mb-2"
              ></div>
              <div class="flex flex-wrap gap-2 mt-2">
                <div
                  class="w-20 h-8 bg-gray-200 rounded-full animate-pulse"
                ></div>
                <div
                  class="w-24 h-8 bg-gray-200 rounded-full animate-pulse"
                ></div>
                <div
                  class="w-16 h-8 bg-gray-200 rounded-full animate-pulse"
                ></div>
              </div>
            </div>
            <div class="mb-4">
              <div
                class="w-36 h-5 bg-gray-200 rounded animate-pulse mb-2"
              ></div>
              <div class="flex flex-wrap gap-2 mt-2">
                <div
                  class="w-20 h-8 bg-gray-200 rounded-full animate-pulse"
                ></div>
                <div
                  class="w-24 h-8 bg-gray-200 rounded-full animate-pulse"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Related Templates skeleton -->
  <aside aria-label="Related articles" class="py-20 lg:py-[140px] antialiased">
    <div class="px-4 mx-auto max-w-screen-xl">
      <div
        class="full mb-10 flex justify-between items-end flex-col md:flex-row"
      >
        <div class="flex items-start justify-start w-full flex-col">
          <div class="w-36 h-5 bg-gray-200 rounded animate-pulse mb-4"></div>
          <div class="w-48 h-10 bg-gray-200 rounded animate-pulse"></div>
        </div>
        <div class="w-32 h-10 bg-gray-200 rounded animate-pulse"></div>
      </div>

      <!-- Related articles skeleton -->
      <div class="flex flex-col lg:flex-row gap-6 lg:overflow-x-auto py-4">
        <div
          class="min-w-[300px] md:w-[467px] border border-[#d1d0d0] rounded-2xl bg-white flex-shrink-0"
        >
          <div class="h-[240px] bg-gray-200 animate-pulse rounded-t-2xl"></div>
          <div class="p-4">
            <div class="flex items-center justify-between mb-4">
              <div class="w-32 h-6 bg-gray-200 rounded animate-pulse"></div>
              <div class="w-20 h-6 bg-gray-200 rounded animate-pulse"></div>
            </div>
            <div class="flex justify-between items-center w-full mb-4">
              <div class="flex gap-1 items-center">
                <div
                  class="w-16 h-6 bg-gray-200 rounded-lg animate-pulse"
                ></div>
                <div
                  class="w-20 h-6 bg-gray-200 rounded-lg animate-pulse"
                ></div>
              </div>
              <div class="w-24 h-4 bg-gray-200 rounded animate-pulse"></div>
            </div>
            <div class="w-full h-10 bg-gray-200 rounded-xl animate-pulse"></div>
          </div>
        </div>

        <div
          class="min-w-[300px] md:w-[467px] border border-[#d1d0d0] rounded-2xl bg-white flex-shrink-0"
        >
          <div class="h-[240px] bg-gray-200 animate-pulse rounded-t-2xl"></div>
          <div class="p-4">
            <div class="flex items-center justify-between mb-4">
              <div class="w-32 h-6 bg-gray-200 rounded animate-pulse"></div>
              <div class="w-20 h-6 bg-gray-200 rounded animate-pulse"></div>
            </div>
            <div class="flex justify-between items-center w-full mb-4">
              <div class="flex gap-1 items-center">
                <div
                  class="w-16 h-6 bg-gray-200 rounded-lg animate-pulse"
                ></div>
                <div
                  class="w-20 h-6 bg-gray-200 rounded-lg animate-pulse"
                ></div>
              </div>
              <div class="w-24 h-4 bg-gray-200 rounded animate-pulse"></div>
            </div>
            <div class="w-full h-10 bg-gray-200 rounded-xl animate-pulse"></div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
