<div class="w-full max-w-[1600px] mx-auto mt-16 px-4 md:px-0">
  <!-- Hero / Intro Section -->
  <section class="text-white flex flex-col pt-16 md:pt-[64px] md:ps-[80px]">
    <div class="mb-8 md:w-[670px] text-left">
      <p
        class="text-white bg-[#873de6]/30 text-sm border-[#873DE64D] border w-fit py-1 px-3 rounded-full"
      >
        About us
      </p>
      <h1
        class="text-4xl md:text-6xl mt-10 ipad:font-[500] bigger:font-[600] big:text-[16] bigger:text-[17px] mb-4"
      >
        Redefining Consulting Excellence for Everyone
      </h1>
      <p class="text-[18px] md:text-lg text-[#D0D5DD] md:w-[544px] mb-8">
        At Consultitide, we empower consultants, teams, and clients with
        cutting-edge tools, templates, and resources.
      </p>
      <!-- Only visible on mobile -->
      <p class="block text-left md:hidden md:text-[16px] -mt-4 w-full">
        Consulting templates created by former top-tier consultants
      </p>
    </div>

    <div
      class="scroller w-full mx-auto mb-20"
      data-direction="left"
      data-speed="fast"
    >
      <ul class="tag-list scroller__inner">
        <img
          src="/images/Container-2.png"
          class="full-size-image max-h-[846px]"
        />
        <img
          src="/images/Container-1.png"
          class="full-size-image max-h-[846px]"
        />
        <img
          src="/images/Container.png"
          class="full-size-image max-h-[846px]"
        />
        <img
          src="/images/Container-3.png"
          class="full-size-image max-h-[846px]"
        />
      </ul>
    </div>
  </section>
</div>
