<section
  class="text-center text-white ps-[80px] flex items-center justify-center h-screen"
>
  <div class="flex items-start justify-between gap-10">
    <!-- left side -->
    <div class="w-[670px] text-left">
      <p
        class="text-white bg-[#873de6]/30 border-[#fff] w-fit p-2 rounded-full"
      >
        Join & download top consulting tool kit!
      </p>
      <h1 class="text-4xl md:text-6xl mt-10 font-bold mb-4">
        The World’s Consulting Marketplace
      </h1>
      <p class="text-lg md:text-lg w-[380px] mb-8">
        Premier Management Consulting Resources at your fingertips
      </p>

      <!-- form for subscribe -->
      <app-subscribe-form></app-subscribe-form>

      <p class="md:text-[16px] w-full mt-8">
        Consulting templates created by former top-tier consultants
      </p>

      <!-- logos for partners -->
      <app-flex-logo></app-flex-logo>
    </div>

    <!-- right side -->

    <div
      class="relative bg-gradient-to-tr from-[#8b58c2] to-[#54148C] p-8 mt-20 rounded-l-lg shadow-lg h-[413px] flex items-start justify-center overflow-hidden"
    >
      <!-- Overlay with Image -->
      <div
        class="absolute inset-0 bg-cover bg-center opacity-20"
        style="background-image: url('/images/Group 1000010921.png')"
      ></div>

      <!-- Card Content -->
      <div class="relative text-left z-10">
        <h2 class="text-3xl font-semibold mb-4 w-[150px]">
          Top Consulting Tool Kit
        </h2>
        <p class="mb-6">
          Leverage templates used by top consulting companies developing their
          slides and customize them the way you want.
        </p>
        <p class="mb-6">Used by former top-tier consultant</p>
      </div>

      <!-- Footer Section -->
      <div
        class="absolute border-t w-full p-0 flex items-center bottom-3 left-0 text-left z-10"
      >
        <div class="text-2xl font-bold ps-5 mt-4">Consultitude™</div>
      </div>
    </div>
  </div>
</section>
