<!-- logos in lab size -->
<h1>Crafted by alumni of</h1>
<div
  class="flex w-full xsm:justify-center ipad:justify-between gap-2 mt-4 absolute z-50 items-center px-32"
>
  <!-- first image -->
  <img src="/images/oliverpartner.svg" alt="partner logo" />
  <!-- second image -->
  <img
    src="/images/McKinsey & Company_idciHNIuBu_0.svg"
    class="w-20 h-20"
    alt="partner logo mckinsey"
  />

  <!-- third image -->
  <img src="/images/partner_pwc.svg" alt="partner logo pwc" />
  <!-- fourth image -->

  <img src="/images/partner_pcg.svg" alt="partner logo pcg" />
</div>
