<!-- logos in lab size -->
<div class="w-full flex justify-center flex-col items-center">
  <!-- <h1>Crafted by alumni of</h1> -->
  <div class="flex justify-center gap-2 ipad:gap-8 items-center">
    <!-- first image -->
    <img src="/images/oliverpartner.svg" alt="partner logo" />
    <!-- second image -->
    <img
      src="/images/McKinsey & Company_idciHNIuBu_0.svg"
      class="w-20 h-20"
      alt="partner logo mckinsey"
    />

    <!-- third image -->
    <img src="/images/partner_pwc.svg" alt="partner logo pwc" />
    <!-- fourth image -->

    <img src="/images/partner_pcg.svg" alt="partner logo pcg" />
  </div>
</div>
