<!-- logos -->
<div class="hidden md:flex w-full justify-between md:mt-8 items-center">
  <!-- first image -->
  <img src="/images/oliverpartner.svg" alt="partner logo" />
  <!-- second image -->
  <img
    src="/images/McKinsey & Company_idciHNIuBu_0.svg"
    class="w-20 h-20"
    alt="partner logo mckinsey"
  />

  <!-- third image -->
  <img src="/images/partner_pwc.svg" alt="partner logo pwc" />
  <!-- fourth image -->

  <img src="/images/partner_pcg.svg" alt="partner logo pcg" />
</div>

<div
  class="flex md:hidden justify-between items-center w-full flex-col md:flex-row"
>
  <div class="flex items-center w-full gap-10 mb-10">
    <img src="/images/oliverpartner.svg" alt="partner logo" />
    <img
      src="/images/McKinsey & Company_idciHNIuBu_0.svg"
      class="w-20 h-20"
      alt="partner logo mckinsey"
    />
  </div>

  <div class="flex items-center w-full gap-10">
    <!-- third image -->
    <img src="/images/partner_pwc.svg" alt="partner logo pwc" />
    <!-- fourth image -->

    <img src="/images/partner_pcg.svg" alt="partner logo pcg" />
  </div>
</div>
