<!-- <p-carousel
  [value]="images"
  [numVisible]="5"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
  [showIndicators]="true"
  [showNavigators]="false"
  [indicatorStyle]="{
    width: '10px',
    height: '10px',
    borderRadius: '50%',
  }"
  [indicatorStyleClass]="'hover:bg-[#a24af5] cursor-pointer '"
>
  <ng-template let-image pTemplate="item">
    <div class="border my-2 rounded-md overflow-hidden mx-1 h-[97px] border-[#0000001A]/10">
      <img [src]="image" alt="Template preview" class="w-full h-full object-cover" />
    </div>
  </ng-template>
</p-carousel> -->
