<!--  -->

<aside
  class="hidden w-full md:block md:sticky md:top-16 h-auto md:h-filter border-t md:border-none"
>
  <div class="mb-4">
    <label class="block mb-3 font-extrabold text-[20px] text-[#000000]"
      >Filter Template</label
    >
    <div class="flex items-center">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <img src="/images/search.png" class="w-3 h-3" alt="search icon" />
        </div>
        <input
          type="text"
          [ngModel]="searchText"
          (ngModelChange)="searchTextChange.emit($event)"
          id="simple-search"
          class="block w-full p-2 pl-8 font-sans text-sm text-black placeholder:text-[#0D112666] border border-gray-300 rounded-xl bg-gray-50 focus:ring-primary-500 focus:border-primary-500"
          placeholder="Search..."
          required=""
        />
      </div>
    </div>
  </div>
  <div class="sidebar mt-10">
    <div
      *ngFor="let section of sections"
      class="border-t border-[#EAECF0] py-2"
    >
      <div
        class="flex items-center justify-between cursor-pointer p-2 hover:bg-gray-100"
        (click)="toggleSection.emit(section)"
      >
        <h3
          class="font-[500] text-black text-[18px] leading-[21.6px] md:text-base"
        >
          {{ section.name }}
        </h3>
        <span
          class="transform transition-transform"
          [class.rotate-180]="!section.isOpen"
        >
          <i class="pi pi-angle-up"></i>
        </span>
      </div>
      <div *ngIf="section.isOpen" class="ml-4">
        <ng-container *ngIf="section.key !== 'price'">
          <div *ngFor="let item of filters[section.key]" class="mt-2 mb-5">
            <label class="flex items-center">
              <input
                class="rounded-[4px] w-4 h-4 border-[#8F8F8F]"
                type="checkbox"
                [(ngModel)]="item.checked"
                (ngModelChange)="onFilterChange()"
              />
              <span class="ml-2 text-[#171717] text-[13px] md:text-[14px]">{{
                item.name
              }}</span>
            </label>
          </div>
        </ng-container>
        <div *ngIf="section.key === 'price'" class="ml-1 px-1 py-3">
          <!-- Range Input Container -->
          <div class="relative pt-6">
            <input
              type="range"
              min="0"
              max="1000"
              [(ngModel)]="filters.price[0]"
              (ngModelChange)="onFilterChange()"
              class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 range-slider"
            />

            <!-- Value Display -->
            <div class="flex justify-between items-center mt-4">
              <span class="text-sm text-gray-500">$0</span>
              <div
                class="px-3 py-1 bg-indigo-100 text-indigo-700 rounded-full text-sm"
              >
                Up to ${{ filters.price[0] }}
              </div>
              <span class="text-sm text-gray-500">$1000</span>
            </div>
          </div>
        </div>

        <a class="text-[#792EBA] -ms-2 text-[16px] mt-5 font-bold">See more</a>
      </div>
    </div>
    <!-- <div class="mt-4">
      <label class="block mb-3 font-bold text-sm">Language</label>
      <select
        [(ngModel)]="filters.language"
        (ngModelChange)="onFilterChange()"
        class="w-full p-2 border border-gray-300 rounded-xl"
      >
        <option value="EN">EN</option>
        <option value="AR">AR</option>
      </select>
    </div> -->
  </div>
</aside>
