<div class="py-10 px-4 md:px-[120px] md:py-[64px] h-full mb-20 bg-gray-100">
  <div class="w-full">
    <button
      class="flex text-[24px] gap-3 leading-[28px] font-[500] items-center text-[#101828] hover:text-gray-800"
      (click)="goBack()"
    >
      <i class="pi pi-arrow-left"></i>
      Checkout
    </button>

    <!-- Stepper -->
    <div class="mt-6">
      <!-- Step 1: Contact Information -->
      <div class="py-4 border-b">
        <div class="flex items-start md:mb-4">
          <span
            class="w-9 h-9 flex items-center justify-center bg-[#F2F4F7] text-[#667085] border border-[#EAECF0] rounded-full mr-3"
            >1</span
          >
          <div class="w-full">
            <p
              class="text-[24px] gap-3 mt-1 leading-[28px] font-[500] text-[#101828]"
            >
              Contact Information
            </p>
            <div
              *ngIf="userId"
              class="flex items-center justify-between w-full"
            >
              <p class="text-sm text-[#14151A] font-[500]">{{ email }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col py-4">
        <div class="flex items-center gap-2">
          <span
            class="w-9 h-9 flex items-center justify-center bg-[#F2F4F7] text-[#667085] border border-[#EAECF0] rounded-full"
            >2</span
          >
          <p class="text-[24px] mt-1 leading-[28px] font-[500] text-[#101828]">
            Promo code
          </p>
        </div>
        <div class="mt-4 flex flex-col md:flex-row items-center gap-2">
          <input
            type="text"
            name="promoCode"
            placeholder="Promo code"
            [(ngModel)]="promoCode"
            class="w-full border border-[#DEE0E3] rounded-xl px-4 py-2 focus:outline-none focus:ring-2 focus:ring-purple-500"
          />
          <button
            type="button"
            class="bg-white text-black border border-gray-300 md:w-52 w-full h-[40px] py-2.5 px-3 flex items-center justify-center rounded-xl"
            (click)="applyPromoCode()"
          >
            Apply
          </button>
        </div>
        <p
          *ngIf="successMessage"
          class="w-full bg-green-100 mt-2 text-green-500 p-2 rounded-md"
        >
          {{ successMessage }}
        </p>
        <p
          *ngIf="errorMessage"
          class="w-full bg-red-100 mt-2 text-red-500 p-2 rounded-md"
        >
          {{ errorMessage }}
        </p>
      </div>

      <!-- Step 2: Payment -->
      <div class="flex items-center py-4">
        <span
          class="w-9 h-9 flex items-center justify-center bg-[#F2F4F7] text-[#667085] border border-[#EAECF0] rounded-full mr-3"
          >3</span
        >
        <p class="text-[24px] gap-3 leading-[28px] font-[500] text-[#101828]">
          Payment
        </p>
      </div>
      <div *ngIf="userId" class="mt-4">
        <form id="payment-form" (ngSubmit)="handleSubmit($event)">
          <div id="payment-element"></div>
          <div class="mt-4">
            <div class="flex justify-between">
              <span>Subtotal:</span>
              <span>{{ subTotalAmount | currency }}</span>
            </div>
            <div class="flex justify-between">
              <span>Discount:</span>
              <span>{{ discountValue | currency }}</span>
            </div>
            <div class="flex justify-between font-bold">
              <span>Total:</span>
              <span>{{ totalAmount | currency }}</span>
            </div>
          </div>
          <button
            id="submit"
            class="bg-[#9241DC] text-white w-full h-[40px] py-2.5 px-3 flex items-center justify-center rounded-xl hover:bg-purple-700 mt-4"
            [disabled]="loading"
          >
            <span *ngIf="loading">Processing...</span>
            <span *ngIf="!loading">Pay</span>
          </button>
          <p
            *ngIf="errorPayment"
            class="w-full bg-red-100 mt-2 text-red-500 p-2 rounded-md"
          >
            {{ errorPayment }}
          </p>
          <p id="payment-error" role="alert"></p>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Success Popup -->

<div
  *ngIf="showSuccessPopup"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white rounded-xl p-10 md:w-[480px] mx-4">
    <!-- Confetti Icon -->
    <div class="flex items-center justify-center mb-4">🎉</div>

    <!-- Main Message -->
    <h2 class="text-2xl font-[500] text-center text-[#14151A] mb-5">
      Your presentation is one tap a way
    </h2>

    <!-- Subtext -->
    <p class="text-[#0F132499]/60 text-center text-sm mb-6">
      Thank you for ordering from Consultitude. Download instructions are on
      their way to your inbox.
    </p>

    <button
      (click)="successPopupAction()"
      class="bg-[#9241DC] text-white md:w-[400px] w-[281px] h-10 px-3 py-2.5 rounded-xl hover:bg-purple-700 transition duration-200"
    >
      My downloads
    </button>
  </div>
</div>
