<div class="w-full mx-auto max-w-[1600px]">
  <div
    class="flex w-full mx-auto max-w-[1600px] z-50 absolute pt-10 ps-5 md:ps-20 justify-start"
  >
    <a routerLink="/index" class="text-xl font-semibold">
      <span class="sr-only">Logo</span>

      <img src="/images/new_logo.svg" alt="Logo" />
    </a>
  </div>
</div>
<div class="h-screen md:h-full 2xl:h-full">
  <div class="relative pt-24 2xl:pt-40 pb-20 md:pb-0">
    <app-overlay-image-for-background></app-overlay-image-for-background>
    <app-hero-section></app-hero-section>
  </div>
</div>
