<div class="w-full max-w-[1600px] h-full mx-auto">
  <div class="w-full my-6 flex px-2 md:px-6 justify-between items-center">
    <h1
      class="md:text-[32px] text-[24px] font-[500] leading-[38.5px] text-[#14151A]"
    >
      My Documents
    </h1>
    <button
      class="w-[128px] h-10 flex items-center justify-center rounded-[12px] px-3 py-2.5 text-[14px] bg-[#9241DC] text-white"
    >
      Knowledge Hub
    </button>
  </div>

  <!-- Documents Grid -->
  <div
    class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 2xl:grid-cols-3 md:px-6 2xl:px-6 px-0 gap-6"
  >
    <div
      *ngFor="let doc of documents"
      class="relative border border-[#d1d0d0] rounded-2xl bg-white w-full mx-auto"
    >
      <!-- Image Section -->
      <div class="relative rounded-2xl 2xl:h-[240px] w-full mx-auto">
        <img
          [src]="selectedImage"
          [alt]="doc.documentFormat"
          class="w-full h-[240px] object-cover rounded-t-2xl"
        />

        <div
          class="absolute inset-0 flex flex-col justify-end p-4 bg-black bg-opacity-10 text-white rounded-t-2xl"
        >
          <h3 class="text-3xl mb-1 w-[50%] font-[700]">
            {{ doc.productName }}
          </h3>
        </div>
      </div>

      <!-- Card Body -->
      <div class="p-4 2xl:h-[161px]">
        <!-- Price -->
        <div class="flex items-center justify-between mb-4">
          <!-- Title -->
          <h3 class="text-[#171717] flex flex-col text-[24px] font-bold">
            {{ doc.productName }}
          </h3>
          <!-- <h3 class="text-[#171717] flex flex-col text-[24px] font-bold">
            {{ doc.price }}
          </h3> -->
        </div>

        <h3 class="text-gray-500 flex flex-col text-sm mb-4 font-bold">
          {{ doc.documentFormat }}
        </h3>

        <!-- View Button -->
        <button
          class="w-full flex text-[14px] font-sans items-center justify-center gap-2 py-2 px-4 bg-[#9241DC] hover:bg-[#a24af5] text-[#FFFFFF] font-medium rounded-xl border border-[#6E2FA5] transition-colors"
        >
          <i class="pi pi-eye"></i>
          View
        </button>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-center py-2">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="totalRecords"
      class="w-full"
      styleClass=" w-full"
    ></p-paginator>
  </div>
  <!-- [rowsPerPageOptions]="[10, 20, 30]" -->
</div>
