<div class="w-full max-w-[1600px] h-full mx-auto">
  <div class="w-full my-6 flex px-2 md:px-6 justify-between items-center">
    <h1
      class="md:text-[32px] text-[24px] font-[500] leading-[38.5px] text-[#14151A]"
    >
      My Documents
    </h1>
    <button
      class="w-[128px] h-10 flex items-center justify-center rounded-[12px] px-3 py-2.5 text-[14px] bg-[#9241DC] text-white"
    >
      Knowledge Hub
    </button>
  </div>

  <!-- Documents Grid -->
  <div
    class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 2xl:grid-cols-3 md:px-6 2xl:px-6 px-0 gap-6"
  >
    <div
      *ngFor="let doc of documents"
      class="relative border border-[#d1d0d0] rounded-2xl bg-white w-full mx-auto"
    >
      <!-- Image Section -->
      <div class="relative rounded-2xl 2xl:h-[240px] w-full mx-auto">
        <img
          [src]="doc.orderDetails[0].product.images[0]?.url"
          [alt]="doc.orderDetails[0].product.documents[0]?.documentFormat.name"
          class="w-full h-[240px] object-cover rounded-t-2xl"
        />
        <div
          class="absolute inset-0 flex flex-col justify-end p-4 bg-black bg-opacity-10 text-white rounded-t-2xl"
        >
          <h3 class="text-3xl mb-1 w-[50%] font-[700]">
            {{ doc.orderDetails[0].product.translations[0].name }}
          </h3>
        </div>
      </div>

      <!-- Card Body -->
      <div class="p-4 2xl:h-[161px]">
        <!-- Title -->
        <h3 class="text-[#171717] flex flex-col text-[24px] font-bold">
          {{ doc.orderDetails[0].product.translations[0].name }}
        </h3>

        <!-- Option Display (Line 55 Update) -->
        <div class="flex gap-1 items-center w-full my-4">
          <!-- عنصر الدومين -->
          <h1
            class="bg-[#E9EAEC] cursor-pointer text-[#0F132499]/60 text-[12px] font-semibold px-3 py-1 rounded-lg"
          >
            {{
              doc.orderDetails[0].product.domains[0]?.domain.translations[0]
                .name
            }}
          </h1>
          <!-- عنصر الأريا فوكس -->
          <h1
            class="bg-[#E9EAEC] cursor-pointer text-[#0F132499]/60 text-[12px] font-semibold px-3 py-1 rounded-lg"
          >
            {{
              doc.orderDetails[0].product.areaOfFocus[0]?.AreaOfFocus
                .translations[0].name
            }}
          </h1>
          <!-- عنصر الدوكيومنتس -->
          <h1
            class="bg-[#E9EAEC] cursor-pointer text-[#0F132499]/60 text-[12px] font-semibold px-3 py-1 rounded-lg"
          >
            {{ doc.orderDetails[0].product.documents[0]?.documentFormat.name }}
          </h1>
        </div>

        <!-- View Button -->
        <button
          (click)="viewTemplateDetails()"
          class="w-full flex text-[14px] font-sans items-center justify-center gap-2 py-2 px-4 bg-[#9241DC] hover:bg-[#a24af5] text-[#FFFFFF] font-medium rounded-xl border border-[#6E2FA5] transition-colors"
        >
          <i class="pi pi-eye"></i>
          View
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="documents.length === 0"
    class="flex flex-col items-center justify-center mt-[24px] min-h-[400px] bg-white rounded-2xl text-center py-12 px-4"
  >
    <div class="max-w-md mx-auto space-y-6">
      <img src="/images/no items.svg" class="mx-auto" alt="" />
      <div class="space-y-2">
        <h3
          class="md:text-[32px] text-[20px] font-[500] md:leading-[38.4px] text-[#111827]"
        >
          You did not download any documents yet!
        </h3>
      </div>
      <div class="flex flex-col items-center sm:flex-row gap-4 justify-center">
        <button
          routerLink="/knowledge/lounge"
          class="px-4 py-2 text-[16px] md:w-[181px] w-[209px] h-[44px] font-sans bg-[#7F56D9] hover:bg-[#a24af5] text-white rounded-lg font-semibold transition-colors"
        >
          Browse now!
        </button>
      </div>
    </div>
  </div>

  <!-- Pagination Controls -->
  <div *ngIf="documents.length !== 0" class="flex justify-center py-2">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      class="w-full"
      styleClass="w-full"
    ></p-paginator>
  </div>
</div>
