<!-- hero section -->
<app-hero-section></app-hero-section>

<!-- consultitude templates cards -->
<app-consultitude-templates></app-consultitude-templates>

<!-- consultitude needs -->
<div class="mt-20">
  <app-consulting-needs></app-consulting-needs>
</div>

<div class="mt-20">
  <app-animation-cards></app-animation-cards>
</div>

<!-- partners -->
<div class="mb-20">
  <app-partners></app-partners>
</div>

<!-- contact us -->
<app-contact-us></app-contact-us>

<!-- FAQs -->
<app-faqs></app-faqs>

<!-- footer -->
<div class="mt-20">
  <app-footer></app-footer>
</div>
