<!-- hero section -->
<div class="bg-[#0C111D] pt-40 pb-16">
  <app-hero-section></app-hero-section>
</div>

<div class="relative bg-[#0C111D] overflow-hidden">
  <div
    class="w-full h-full md:block hidden bg-[#0C111D] absolute left-[180px] blur-3xl opacity-100 z-0"
    style="background-image: url('/images/Hero Gradient.png')"
  ></div>
  <div
    class="w-full h-full block md:hidden bg-[#0C111D] absolute left-0 -bottom-32 blur-3xl opacity-90 z-0"
    style="background-image: url('/images/mobile gradient.svg')"
  ></div>
  <div>
    <app-animation-cards></app-animation-cards>
  </div>

  <!-- partners -->
  <div>
    <app-partners></app-partners>
  </div>
</div>

<!-- consultitude templates cards -->
<div class="pt-[120px] relative bg-[#11061A]">
  <div
    class="absolute inset-0 bg-cover hidden md:block bg-center bottom-[520px] z-0"
    style="background-image: url('/images/backgroundiconstar.svg')"
  ></div>
  <app-consultitude-templates></app-consultitude-templates>
</div>

<!-- Effortless -->
<div class="md:pt-[200px] pt-[128px] bg-[#11061A]">
  <app-effortless></app-effortless>
</div>

<!-- consultitude needs -->
<div class="pt-20 bg-[#11061A]">
  <app-consulting-needs></app-consulting-needs>
</div>

<!-- contact us -->
<div class="bg-[#11061A]">
  <app-contact-us></app-contact-us>
</div>

<!-- FAQs -->
<div class="pt-20 md:px-20 px-4 bg-[#11061A]">
  <app-faqs></app-faqs>
</div>

<!-- footer -->
<div class="pt-20 bg-[#11061A]">
  <app-footer></app-footer>
</div>
