<div class="pt-10 relative max-w-[1600px] mx-auto">
  <div class="absolute inset-0 bg-cover bg-center opacity-80 blur-2xl"></div>
  <!-- style="background-image: url('/images/partner_background.svg')" -->
  <div class="relative flex flex-col items-center justify-center text-white">
    <h1
      class="mb-2 text-center font-sans md:text-left px-5 w-[100%] md:w-full flex justify-center items-center"
    >
      CONSULTING TEMPLATES CREATED BY FORMER TOP-TIER CONSULTANTS
    </h1>
    <div class="grid grid-cols-12 w-full mt-5 relative">
      <div class="border-t border-[#7233B4] text-center col-span-1"></div>
      <div
        class="border col-span-3 border-[#7233B4] flex justify-center items-center px-10 md:h-[211px] text-center"
      >
        <img
          class="md:min-w-[200px] min-w-[80px]"
          src="/images/firstPartner.svg"
          alt="Oliver Wyman"
        />
      </div>
      <div
        class="border border-[#7233B4] col-span-3 px-10 py-10 text-center flex justify-center items-center"
      >
        <img
          src="/images/McKinsey & Company_idciHNIuBu_0.svg"
          class="md:w-[140px] min-w-[50px]"
          alt="MkKinsey"
        />
      </div>
      <div
        class="border-y border-[#7233B4] px-5 col-span-2 py-10 text-center flex justify-center items-center"
      >
        <img
          src="/images/thirdParnter.svg"
          class="md:min-w-[82px] min-w-[40px]"
          alt="pws"
        />
      </div>
      <div
        class="border border-[#7233B4] px-10 col-span-2 py-10 text-center flex justify-center items-center"
      >
        <img
          src="/images/fourthPartner.svg"
          class="md:min-w-[84px] min-w-[50px]"
          alt="Bcg"
        />
      </div>
      <div class="border-t border-[#7233B4] col-span-1 text-center">
        <!-- <h2 class="text-2xl"></h2> -->
      </div>
    </div>
  </div>
</div>
