<div class="border-t rounded-xl">
  <div class="pt-8">
    <div class="flex justify-between border-b p-2 items-center">
      <span class="text-gray-600">Format:</span>
      <span class="font-medium text-gray-800">{{ template.format }}</span>
    </div>
    <div class="flex justify-between border-b p-2 items-center">
      <span class="text-gray-600">Use Case:</span>
      <span class="font-medium text-gray-800">{{ template.documentType }}</span>
    </div>
    <div class="flex justify-between border-b p-2 items-center">
      <span class="text-gray-600">Document Focus:</span>
      <span class="font-medium text-gray-800">{{ template.downloads }}</span>
    </div>
    <div class="flex justify-between items-center p-2">
      <span class="text-gray-600">Pages:</span>
      <span class="font-medium text-gray-800">{{ template.downloads }}</span>
    </div>
  </div>
</div>
