<div class="flex flex-col">
  <!-- Small Screen Layout -->
  <div
    class="sticky top-0 w-full bg-[#F9FAFB] z-50 py-2 flex flex-col md:hidden"
  >
    <div class="flex items-center justify-between w-full gap-2">
      <span class="text-gray-600 text-sm"
        >{{ filteredTemplates.length }} results shown</span
      >
      <div class="flex items-center gap-2">
        <button
          class="sm:hidden flex items-center px-4 py-2 text-gray-600 bg-white border rounded-xl shadow-sm"
          (click)="openSidebare()"
        >
          <i class="pi pi-filter"></i>
          <span class="ml-2 text-[14px]">Filters</span>
        </button>
        <div class="relative right-0 inline-block text-left">
          <button
            (click)="toggleSortMenu()"
            class="flex items-center px-4 py-2 text-gray-700 border border-gray-300 rounded-xl shadow-sm hover:bg-gray-100 transition"
          >
            <i class="pi pi-sort-alt text-[#0F132499]/60"></i>
            <span class="mx-2 text-[#14151A] text-[14px]">Sort by</span>
            <i class="pi pi-chevron-down text-[#0F132499]/60"></i>
          </button>
          <div
            *ngIf="isSortMenuOpen"
            class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10"
          >
            <div class="py-1">
              <button
                *ngFor="let option of sortOptions"
                (click)="selectSortOption(option.value)"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
              >
                {{ option.label }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Selected Filters -->
    <div class="flex flex-nowrap gap-2 overflow-x-auto w-full mt-2">
      <div
        *ngFor="let filter of selectedFilters"
        class="flex items-center justify-center bg-[#FFFFFF] rounded-full border border-[#D0D5DD] text-[#0F132499]/60 px-3 py-2"
      >
        <span>{{ filter.label }}</span>
        <button (click)="removeFilter.emit(filter)" class="ml-2 text-gray-400">
          x
        </button>
      </div>
    </div>
  </div>

  <!-- Large Screen Layout -->
  <div
    class="hidden md:flex sticky top-0 w-full bg-[#F9FAFB] z-50 py-2 justify-between items-center"
  >
    <!-- Selected Filters -->
    <div class="flex flex-nowrap max-w-[80%] h-full gap-2 overflow-x-auto">
      <div
        *ngFor="let filter of selectedFilters"
        class="flex items-center justify-center bg-[#FFFFFF] rounded-full border border-[#D0D5DD] text-[#0F132499]/60 px-3 py-2"
      >
        <span>{{ filter.label }}</span>
        <button (click)="removeFilter.emit(filter)" class="ml-2 text-gray-400">
          x
        </button>
      </div>
    </div>

    <!-- Sort Menu Button -->
    <div class="flex items-center justify-end gap-2">
      <button
        class="sm:hidden flex items-center px-4 py-2 text-gray-600 bg-white border rounded-lg shadow-sm"
        (click)="openSidebare()"
      >
        <i class="pi pi-filter"></i>
        <span class="ml-2">Filters</span>
      </button>
      <div class="relative right-0 inline-block text-left">
        <button
          (click)="toggleSortMenu()"
          class="flex items-center px-4 py-2 text-gray-700 border border-gray-300 rounded-xl shadow-sm hover:bg-gray-100 transition"
        >
          <i class="pi pi-sort-alt text-[#0F132499]/60"></i>
          <span class="mx-2 text-[#14151A]">Sort by</span>
          <i class="pi pi-chevron-down text-[#0F132499]/60"></i>
        </button>
        <div
          *ngIf="isSortMenuOpen"
          class="absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10"
        >
          <div class="py-1">
            <button
              *ngFor="let option of sortOptions"
              (click)="selectSortOption(option.value)"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            >
              {{ option.label }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Templates Grid -->
  <section
    *ngIf="filteredTemplates && filteredTemplates.length > 0"
    class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-4"
  >
    <app-product-card
      *ngFor="let template of filteredTemplates"
      [template]="template"
    >
    </app-product-card>
  </section>

  <!-- No Results Section -->
  <div
    *ngIf="dataLoaded && (!filteredTemplates || filteredTemplates.length === 0)"
    class="flex flex-col items-center justify-center mt-[24px] min-h-[400px] bg-white rounded-2xl border border-[#EAECF0] text-center py-12 px-4"
  >
    <div class="max-w-md mx-auto space-y-6">
      <img src="/images/no items.svg" class="mx-auto" alt="" />
      <div class="space-y-2">
        <h3
          class="md:text-[32px] text-[20px] font-[500] md:leading-[38.4px] text-[#111827]"
        >
          We couldn't find documents <br class="md:block hidden" />matching
          <br class="md:hidden block" />
          your search.
        </h3>
      </div>
      <div class="flex flex-col items-center sm:flex-row gap-4 justify-center">
        <button
          (click)="clearFilters.emit()"
          class="px-4 py-2 text-[16px] md:w-[181px] w-[209px] h-[44px] font-sans bg-[#7F56D9] hover:bg-[#a24af5] text-white rounded-lg font-semibold transition-colors"
        >
          Refine your search
        </button>
        <button
          (click)="requestDocument.emit()"
          class="px-4 py-2 text-[16px] flex items-center md:w-[209px] w-[209px] h-[44px] gap-2 font-sans border border-[#D0D5DD] text-[#0D1F40] hover:bg-gray-50 rounded-lg font-medium transition-colors"
        >
          Request document <i class="pi pi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
