<div class="w-full h-screen mt-10 pt-24">
  <div class="mb-6 px-2 big:px-10">
    <!-- Consultant cards - Top row -->
    <div class="flex items-center gap-5">
      <img src="images/new/circle.svg" alt="" />
      <h1 class="text-2xl font-bold mb-2">I've reviewed your document!</h1>
    </div>
    <div class="mb-6 ms-2 big:ms-12">
      <div class="flex justify-between gap-3 w-full">
        <p class="text-[#667085] text-[14px] mb-6 max-w-[578px]">
          Here are the AI consultants I suggest deploying. You can go ahead and
          confirm them, or feel free to customize and choose others if you'd
          like.
        </p>
        <div
          class="w-[54px] h-[33px] rounded-full border text-[14px] border-[#F2F4F7] bg-[#F9FAFB] text-[#0F132499] flex justify-center items-center"
        >
          {{ selectedConsultantsCount }}/{{ suggestedConsultants.length }}
        </div>
      </div>

      <div
        class="grid grid-cols-1 ipad:grid-cols-1 thousand:grid-cols-2 big:grid-cols-3 gap-3 mb-6"
      >
        <!-- Suggested Consultants -->
        <div
          *ngFor="let consultant of suggestedConsultants"
          class="border rounded-[20px] p-4 flex flex-col max-w-full w-full big:max-w-[329.33331298828125px] big:max-h-[141px] transition-all duration-200"
          [ngClass]="{
            'border-[#9241DC] border-2': consultant.selected,
            'border-[#EAECF0]': !consultant.selected,
            'cursor-pointer':
              consultant.selected || selectedConsultantsCount < 3,
            'cursor-not-allowed opacity-50':
              !consultant.selected && selectedConsultantsCount >= 3
          }"
          (click)="toggleSuggestedSelection(consultant)"
        >
          <div class="mb-4 flex items-start gap-5">
            <div
              class="bg-[#9241DC] p-2 w-[36px] h-[36px] rounded-xl flex justify-center items-center"
            >
              <i class="pi {{ consultant.icon }} text-white"></i>
            </div>

            <div>
              <h3 class="font-bold text-black text-[16px] line-clamp-2">
                {{ consultant.type }}
              </h3>
              <p class="text-sm text-[#667085] mb-4 line-clamp-2">
                {{ consultant.description }}
              </p>
              <div class="flex gap-5 items-center mt-auto">
                <div class="flex items-center">
                  <ng-container *ngIf="consultant.creator.avatar">
                    <img
                      [src]="consultant.creator.avatar"
                      class="w-6 h-6 rounded-full mr-2"
                      [alt]="consultant.creator.name"
                    />
                  </ng-container>
                  <!-- <ng-container
                    *ngIf="
                      !consultant.creator.avatar && consultant.creator.initial
                    "
                  >
                    <span
                      class="w-6 h-6 rounded-full bg-gray-200 flex items-center justify-center mr-2"
                      >{{ consultant.creator.initial }}</span
                    >
                  </ng-container> -->
                  <!-- <span class="text-sm">{{ consultant.creator.name }}</span> -->
                  <span class="text-sm text-[#667085]">Consultitude</span>
                </div>
                <div class="flex items-center gap-[9px]">
                  <img src="images/comments.png" class="w-5 h-5" alt="" />
                  <span class="text-sm">{{ consultant.likes }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Other consultants - 2x2 grid -->
      <h3 class="mb-4 text-[#667085] text-[16px]">Other Consultants</h3>

      <div *ngIf="isLoading" class="text-center text-[#667085]">
        Loading consultants...
      </div>
      <div *ngIf="error" class="text-center text-red-500">{{ error }}</div>

      <div
        *ngIf="!isLoading && !error"
        class="grid grid-cols-1 ipad:grid-cols-1 thousand:grid-cols-2 big:grid-cols-3 gap-3"
      >
        <div
          *ngFor="let consultant of paginatedConsultants"
          class="border rounded-[20px] p-4 flex flex-col transition-all duration-200"
          [ngClass]="{
            'border-[#9241DC] border-2': consultant.selected,
            'border-[#EAECF0]': !consultant.selected,
            'cursor-pointer':
              consultant.selected || selectedConsultantsCount < 3,
            'cursor-not-allowed opacity-50':
              !consultant.selected && selectedConsultantsCount >= 3
          }"
          (click)="toggleOtherSelection(consultant)"
        >
          <div class="flex items-start gap-5">
            <div class="mb-4">
              <div class="bg-purple-100 p-2 rounded-lg inline-block">
                <i class="pi {{ consultant.icon }} text-purple-600"></i>
              </div>
            </div>
            <div>
              <h3 class="font-bold">{{ consultant.type }}</h3>
              <p class="text-sm text-[#667085] mb-4">
                {{ consultant.description }}
              </p>
              <div class="flex gap-5 items-center mt-auto">
                <div class="flex items-center">
                  <ng-container *ngIf="consultant.creator.avatar">
                    <img
                      [src]="consultant.creator.avatar"
                      class="w-6 h-6 rounded-full mr-2"
                      [alt]="consultant.creator.name"
                    />
                  </ng-container>
                  <ng-container
                    *ngIf="
                      !consultant.creator.avatar && consultant.creator.initial
                    "
                  >
                    <span
                      class="w-6 h-6 rounded-full bg-gray-200 flex items-center justify-center mr-2"
                    >
                      {{ consultant.creator.initial }}
                    </span>
                  </ng-container>
                  <span class="text-sm">{{ consultant.creator.name }}</span>
                </div>
                <div class="flex items-center gap-[9px]">
                  <img src="images/comments.png" class="w-5 h-5" alt="" />
                  <span class="text-sm">{{ consultant.likes }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- pagination -->
      <div class="w-ful justify-center items-center">
        <div
          class="flex justify-center w-full items-center gap-4 mt-4"
          *ngIf="totalPages > 1"
        >
          <button
            (click)="previousPage()"
            [disabled]="currentPage === 1"
            class="px-3 py-1 rounded-lg border"
            [class.opacity-50]="currentPage === 1"
          >
            Previous
          </button>
          <span>Page {{ currentPage }} of {{ totalPages }}</span>
          <button
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
            class="px-3 py-1 rounded-lg border"
            [class.opacity-50]="currentPage === totalPages"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full relative"
    style="
      background-image: url('images/new/Background Chat.svg');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <!-- shadow background -->
    <div class="max-w-[700px] hidden big:block w-full absolute bottom-0">
      <img
        src="images/new/Background Chat gradient.svg"
        class="absolute bottom-0 -z-10"
        alt=""
      />
    </div>
    <div class="flex justify-between mt-8 p-2 ms-2 big:ms-12 big:p-4">
      <button (click)="goToPreviousStep()">
        <i class="pi pi-arrow-left text-[#0F132499]/60"></i>
      </button>

      <div class="flex items-center gap-4">
        <button
          [disabled]="!selectedConsultantsCount"
          (click)="continueToNextStep()"
          class="px-4 py-3 bg-[#9241DC] text-white rounded-xl hover:bg-purple-700 w-[108px] h-[48px]"
        >
          Continue
        </button>

        <button
          class="flex gap-2 items-start text-[#0F132499]/60 cursor-default"
        >
          <img
            src="images/new/tail-icon.svg"
            alt="forward icon"
            class="w-5 h-5"
          />
          Press Enter
        </button>
      </div>
    </div>
  </div>
</div>
