<div
  class="flex flex-col w-full min-h-full lg:mt-16 2xl:mt-40 justify-center text-white pt-10 items-center"
>
  <div>
    <app-logo></app-logo>
  </div>

  <div class="text-center mt-20">
    <div>
      <h1 class="text-3xl font-semibold mb-4">Thank you!</h1>
      <p class="w-[500px]">
        We are excited to introduce Consultitude to you! You <br />
        should hear from us in couple of weeks via email.. talk soon!
      </p>
    </div>
    <button class="mt-20">
      <a
        routerLink="/home"
        class="bg-[#873de6] w-full hover:bg-[#7936d1] transition-colors text-white px-52 py-4 rounded-xl ml-2"
        >Home page</a
      >
    </button>
  </div>
</div>
