<div class="h-screen md:h-screen p-0 m-0">
  <app-overlay-image-for-background></app-overlay-image-for-background>
  <div class="flex items-center justify-center h-full pt-20 md:pt-0">
    <div
      class="flex flex-col w-full lg:mt-10 2xl:mt-40 text-white pt-10 items-center"
    >
      <div>
        <!-- <app-logo></app-logo> -->
        <a routerLink="/index">
          <img src="/images/new_logo.svg" alt="" />
        </a>
      </div>

      <div class="text-center mt-6 sm:mt-20">
        <div>
          <h1
            class="text-[32px] mt-10 sm:mt-0 ipad:font-[500] bigger:font-[500] big:text-[16] bigger:text-[17px] mb-2 md:mb-4"
          >
            Thank you!
          </h1>
          <p
            class="w-[90%] sm:px-0 text-center md:w-full mx-auto text-[#D0D5DD] sm:text-lg mt-0 sm:mt-0"
          >
            We are excited to introduce Consultitude to you! <br />
            You should hear from us shortly via email.. talk soon!
          </p>
        </div>
        <div
          class="w-full px-10 md:px-0 mt-20 sm:mt-20 flex items-center justify-center"
        >
          <button
            routerLink="/index"
            class="bg-[#873de6] text-[#FFFFFF] md:w-[400px] w-full hover:bg-[#7936d1] transition-colors py-3 rounded-xl"
          >
            Home page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
