<div class="flex items-center justify-center h-full mt-20 md:mt-0">
  <div
    class="flex flex-col w-full min-h-full lg:mt-10 2xl:mt-40 justify-center text-white pt-10 items-center"
  >
    <div>
      <app-logo></app-logo>
    </div>

    <div class="text-center mt-10 sm:mt-20">
      <div>
        <h1
          class="text-3xl sm:text-3xl mt-10 sm:mt-0 font-semibold mb-7 md:mb-4"
        >
          Thank you!
        </h1>
        <p
          class="w-[80%] sm:px-0 text-center sm:w-[500px] mx-auto text-[#D0D5DD] sm:text-lg mt-2 sm:mt-0"
        >
          We are excited to introduce Consultitude to you! <br />
          You should hear from us in a couple of weeks via email.. talk soon!
        </p>
      </div>
      <button class="mt-20 sm:mt-20">
        <a
          routerLink="/home"
          class="bg-[#873de6] w-full sm:w-auto hover:bg-[#7936d1] transition-colors text-white px-10 sm:px-52 py-4 rounded-xl"
          >Home page</a
        >
      </button>
    </div>
  </div>
</div>
