<div class="md:px-20 px-2">
  <div
    class="relative overflow-hidden flex justify-center items-center bg-gradient-to-l from-[#261536]/100 to-[#54148C]/100 h-96 md:h-[340px] py-[40px] mx-auto pb-5 rounded-2xl my-20"
  >
    <div
      class="flex flex-col w-full justify-center md:max-w-[866px] md:space-y-6 md:p-4 xss:h-[500px]"
    >
      <h1
        class="md:text-[36px] text-[24px] text-center w-full leading-tight text-white ipad:font-[500] big:font-[500]"
      >
        Join us in shaping a future where consulting excellence is standard and
        accessible to everyone.
      </h1>
      <p
        class="text-[#E9D7FE]/70 w-full text-[16px] font-[400] font-sans text-center my-7"
      >
        Consultitude is your gateway to transforming the consulting landscape.
      </p>
      <div class="flex items-center justify-center gap-4">
        <a
          href="https://consultitude.com/waiting-list"
          target="_blank"
          class="rounded-md py-2 px-5 text-white text-center font-sans bg-[#7F56D9] hover:bg-[#7c4fde] transition-colors"
        >
          Join Waiting List
        </a>
      </div>
    </div>
    <div class="absolute md:top-0 md:right-0 -right-20">
      <img
        class="md:h-[330px] h-[250px]"
        src="/images/new/Group (2).svg"
        alt="card icon"
      />
    </div>
  </div>
</div>
