<div class="h-screen md:h-screen p-0 m-0">
  <app-overlay-image-for-background></app-overlay-image-for-background>
  <div class="flex items-center justify-center h-full pt-20 md:pt-0">
    <div
      class="flex flex-col w-full lg:mt-10 2xl:mt-40 text-white pt-10 items-center"
    >
      <div>
        <!-- <app-logo></app-logo> -->
        <img src="/images/new_logo.svg" alt="" />
      </div>

      <div class="text-center mt-0 sm:mt-20">
        <div class="px-1">
          <h1
            class="text-[32px] mt-10 sm:mt-0 ipad:font-[500] bigger:font-[600] big:text-[16] bigger:text-[17px] mb-4 md:mb-4"
          >
            Stay tuned!
          </h1>
          <p
            class="w-full sm:px-0 text-center sm:w-[500px] mx-auto text-[#D0D5DD] sm:text-lg mt-1 sm:mt-0"
          >
            You are already part of the consultitude family,
          </p>
          <span class="text-gray-300"> big things are coming your way </span>
        </div>
        <div
          class="w-full px-2 md:px-14 mt-20 sm:mt-20 flex items-center justify-between"
        >
          <button
            routerLink="/home"
            class="bg-[#873de6] text-[#FFFFFF] w-full hover:bg-[#7936d1] transition-colors py-3 rounded-xl"
          >
            Home page
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
