<div
  class="absolute inset-0 bg-cover bg-center opacity-10"
  style="background-image: url('/images/Group 25.png')"
></div>
<!-- <div
  class="absolute inset-0 bg-cover bg-center opacity-10"
  style="background-image: url('/images/Group 25.png')"
></div> -->
<!-- <div
  class="absolute inset-0 bg-cover bg-center opacity-20"
  style="background-image: url('/images/Group 25.png')"
></div>
<div
  class="absolute inset-0 bg-cover bg-center opacity-20"
  style="background-image: url('/images/Group 25.png')"
></div>
<div
  class="absolute inset-0 bg-cover bg-center opacity-20"
  style="background-image: url('/images/Group 25.png')"
></div>
<div
  class="absolute inset-0 bg-cover bg-center opacity-20"
  style="background-image: url('/images/Group 25.png')"
></div>
<div
  class="absolute inset-0 bg-cover bg-center opacity-20"
  style="background-image: url('/images/Group 25.png')"
></div>
<div
  class="absolute inset-0 bg-cover bg-center opacity-20"
  style="background-image: url('/images/Group 25.png')"
></div> -->
