<p-toast />
<p-dialog
  [visible]="display"
  (onHide)="closeDialog()"
  [modal]="true"
  styleClass="md:w-[480px] xss:w-[380px] xs:w-[340px]"
  [closable]="false"
  header="Edit Skills"
>
  <!-- ========== INDUSTRY FOCUS ========== -->
  <div class="mb-3">
    <label class="block text-[14px] font-[500] mb-2.5 text-[#14151A]">
      Industry Focus
    </label>
    <p-multiSelect
      [options]="industryFocusOptions"
      [(ngModel)]="industryFocusSelected"
      optionLabel="name"
      optionValue="areaOfFocusId"
      appendTo="body"
      placeholder="Choose Industry Focus"
      class="w-full border border-[#DEE0E3] placeholder:text-[#0D112666]/40 text-black font-bold rounded-xl py-[2px] mt-1"
    ></p-multiSelect>
  </div>
  <!-- Display selected Industry Focus as chips -->
  <div
    *ngIf="industryFocusSelected.length > 0"
    class="w-full flex flex-wrap items-center gap-3 mb-4"
  >
    <p-chip
      *ngFor="let id of industryFocusSelected"
      [label]="getIndustryName(id)"
      [removable]="true"
      removeIcon="pi pi-times"
      styleClass="border border-[#EAECF0] bg-white rounded-full font-body text-[#0F132499]/60 text-[14px] py-[4px] px-2.5"
      (onRemove)="handleRemoveIndustry(id)"
    ></p-chip>
  </div>

  <!-- ========== DOMAIN FOCUS ========== -->
  <div class="mb-3">
    <label class="block text-[14px] font-[500] mb-2.5 text-[#14151A]">
      Domain Focus
    </label>
    <p-multiSelect
      [options]="domainFocusOptions"
      [(ngModel)]="domainFocusSelected"
      optionLabel="name"
      optionValue="domainId"
      appendTo="body"
      placeholder="Choose Domain Focus"
      class="w-full border border-[#DEE0E3] placeholder:text-[#0D112666]/40 text-black font-bold rounded-xl py-[2px] mt-1"
    ></p-multiSelect>
  </div>
  <!-- Display selected Domain Focus as chips -->
  <div
    *ngIf="domainFocusSelected.length > 0"
    class="w-full flex flex-wrap items-center gap-3 mb-4"
  >
    <p-chip
      *ngFor="let id of domainFocusSelected"
      [label]="getDomainName(id)"
      [removable]="true"
      removeIcon="pi pi-times"
      styleClass="border border-[#EAECF0] bg-white rounded-full font-body text-[#0F132499]/60 text-[14px] py-[4px] px-2.5"
      (onRemove)="handleRemoveDomain(id)"
    ></p-chip>
  </div>

  <!-- ========== REGIONAL FOCUS ========== -->
  <div class="mb-3">
    <label class="block text-[14px] font-[500] mb-2.5 text-[#14151A]">
      Regional Focus
    </label>
    <p-multiSelect
      [options]="regionalFocusOptions"
      [(ngModel)]="regionalFocusSelected"
      optionLabel="name"
      optionValue="regionId"
      appendTo="body"
      placeholder="Choose Regional Focus"
      class="w-full border border-[#DEE0E3] placeholder:text-[#0D112666]/40 text-black font-bold rounded-xl py-[2px] mt-1"
    ></p-multiSelect>
  </div>
  <!-- Display selected Regional Focus as chips -->
  <div
    *ngIf="regionalFocusSelected.length > 0"
    class="w-full flex flex-wrap items-center gap-3 mb-4"
  >
    <p-chip
      *ngFor="let id of regionalFocusSelected"
      [label]="getRegionalName(id)"
      [removable]="true"
      removeIcon="pi pi-times"
      styleClass="border border-[#EAECF0] bg-white rounded-full font-body text-[#0F132499]/60 text-[14px] py-[4px] px-2.5"
      (onRemove)="handleRemoveRegion(id)"
    ></p-chip>
  </div>

  <!-- ========== Consulting FOCUS ========== -->
  <!-- <div class="mb-3">
    <label class="block text-[14px] font-[500] mb-2.5 text-[#14151A]">
      Consulting Skills
    </label>
    <p-multiSelect
      [options]="consultingFocusOptions"
      [(ngModel)]="consultingSkillsSelected"
      optionLabel="name"
      optionValue="consultingId"
      appendTo="body"
      placeholder="Choose Consulting skills"
      class="w-full border border-[#DEE0E3] placeholder:text-[#0D112666]/40 text-black font-bold rounded-xl py-[2px] mt-1"
    ></p-multiSelect>
  </div> -->
  <!-- Display selected Regional Focus as chips -->
  <!-- <div
    *ngIf="consultingSkillsSelected.length > 0"
    class="w-full flex flex-wrap items-center gap-3 mb-4"
  >
    <p-chip
      *ngFor="let id of consultingSkillsSelected"
      [label]="getConsultingName(id)"
      [removable]="true"
      removeIcon="pi pi-times"
      styleClass="border border-[#EAECF0] bg-white rounded-full font-body text-[#0F132499]/60 text-[14px] py-[4px] px-2.5"
      (onRemove)="handleRemoveConsulting(id)"
    ></p-chip>
  </div> -->

  <!-- ========== FOOTER BUTTONS ========== -->
  <div class="flex justify-end space-x-2 mt-6">
    <button
      pButton
      label="Cancel"
      class="border border-[#D0D5DD] bg-transparent rounded-[8px] py-2.5 px-[24px] text-[#344054] font-[600] text-[16px]"
      (click)="closeDialog()"
    ></button>
    <button
      pButton
      label="Save"
      class="bg-[#9241DC] border border-[#7F56D9] rounded-[8px] py-2.5 px-[24px] text-white font-[600] text-[16px]"
      (click)="saveChanges()"
    ></button>
  </div>
</p-dialog>
