.p-multiselect-list-container,
.p-multiselect-header .ng-star-inserted,
.p-multiselect-header {
  background: white;
  color: black;
}

.p-multiselect-overlay .p-component .ng-star-inserted {
  background: white;
  color: black;
}

.p-multiselect-overlay {
  background: white;
  color: black;
}
