<div class="md:px-20 px-2">
  <div
    class="relative overflow-hidden flex justify-center items-center shadowww border border-[#FFFFFF] bg-gradient-to-tl from-[#472F8C66] to-[#070322] h-96 md:h-[340px] py-[40px] mx-auto pb-5 rounded-2xl my-20"
  >
    <div
      class="flex flex-col w-full justify-center md:max-w-[900px] md:space-y-6 md:p-4 xss:h-[500px]"
    >
      <h1
        class="md:text-[36px] text-[24px] text-center ipad:text-left w-full leading-tight text-white ipad:font-[500] big:font-[500]"
      >
        Join us in shaping a future where consulting excellence is standard and
        accessible to everyone.
      </h1>
      <p
        class="text-[#E9D7FE] w-full text-[16px] font-[400] font-sans text-center ipad:text-left my-7"
      >
        Consultitude is your gateway to transforming the consulting landscape.
      </p>
      <div class="flex items-center justify-center gap-4">
        <a
          href="https://consultitude.com/waiting-list"
          target="_blank"
          class="rounded-md py-2 px-5 text-white text-center font-sans bg-[#8C45FF66]/40 hover:bg-[#8C45FF66]/80 transition-colors"
          style="box-shadow: inset 0px 1px 8px -1px #ffffff9e"
        >
          Get Started
        </a>
      </div>
    </div>

    <!-- animation shadow -->
    <div class="glow"></div>
    <div class="particles">
      <div class="rotate">
        <div class="angle">
          <div class="size">
            <div class="position">
              <div class="pulse">
                <div class="particle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="angle">
          <div class="size">
            <div class="position">
              <div class="pulse">
                <div class="particle"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="angle">
          <div class="size">
            <div class="position">
              <div class="pulse">
                <div class="particle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- animation shadow -->

    <div class="absolute md:top-0 md:right-0 -right-20">
      <img
        class="md:h-[330px] h-[250px]"
        src="/images/new/Group (2).svg"
        alt="card icon"
      />
    </div>
  </div>
</div>
