<div class="big:px-20 max-w-[1600px] mx-auto px-5">
  <div
    class="w-full relative bg-gradient-to-l overflow-hidden from-[#9361c8] to-[#380D5E] rounded-[20px]"
  >
    <img
      src="/images/contactusicon.svg"
      class="absolute md:w-72 md:h-52 md:-top-4 hidden md:block -top-0 left-0 md:-left-0"
    />
    <img
      src="/images/contactussm.svg"
      class="absolute block md:hidden -top-0 right-0"
    />

    <!-- grid container -->
    <div
      class="grid grid-cols-1 big:grid-cols-2 gap-[3.5rem] items-center md:p-10 p-[16px]"
    >
      <!--  left side -->
      <div class="w-full">
        <h2
          class="text-[28px] md:text-[52px] md:leading-[62px] leading-[38px] text-white w-full font-semibold"
        >
          Can't find a document? <br />
          Tell us what to build <br class="block md:hidden" />
          next..
        </h2>
        <p class="text-sm mt-5 font-sans text-[#E9D8FC]">
          We’re constantly adding new, comprehensive consulting
          <br class="md:block hidden" />
          templates and would love your input <br class="block md:hidden" />
          on where to focus next.
        </p>
      </div>

      <!--  right side -->
      <div
        class="bg-gradient-to-br border border-[#924FE8] to-[#261536]/100 from-[#54148C]/100 md:p-8 p-4 rounded-[20px] shadow-lg"
      >
        <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
          <!-- E-mail Field -->
          <div class="mb-4">
            <label for="email" class="block text-sm font-sans text-white"
              >E-mail</label
            >
            <input
              formControlName="email"
              type="email"
              id="email"
              placeholder="Enter your e-mail"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans rounded-xl border border-[#FFFFFF2E] bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            />
            <div
              *ngIf="
                requestForm.get('email')?.touched &&
                requestForm.get('email')?.invalid
              "
              class="text-red-500 text-sm"
            >
              <div *ngIf="requestForm.get('email')?.errors?.['required']">
                Email is required.
              </div>
              <div *ngIf="requestForm.get('email')?.errors?.['email']">
                Please enter a valid email.
              </div>
            </div>
          </div>

          <!-- Document Name Field -->
          <div class="mb-4">
            <label for="name" class="block text-sm font-sans text-white"
              >Document Name</label
            >
            <input
              formControlName="name"
              type="text"
              id="name"
              placeholder="Write a name"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans rounded-xl border border-[#FFFFFF2E] bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            />
            <div
              *ngIf="
                requestForm.get('name')?.touched &&
                requestForm.get('name')?.invalid
              "
              class="text-red-500 text-sm"
            >
              Document name is required.
            </div>
          </div>

          <!-- Document Type (Format) Field -->
          <div class="mb-4">
            <label
              for="documentFormatId"
              class="block text-sm font-sans text-white"
              >Document Type</label
            >
            <select
              formControlName="documentFormatId"
              id="documentFormatId"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans border border-[#FFFFFF2E] rounded-xl bg-[#873DE64D] text-[#FFFFFF75] focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
              <option
                class="bg-[#221139e1] text-white"
                *ngFor="let document of documentsList"
                [value]="document.id"
              >
                {{ document.name }}
              </option>
            </select>
            <div
              *ngIf="
                requestForm.get('documentFormatId')?.touched &&
                requestForm.get('documentFormatId')?.invalid
              "
              class="text-red-500 text-sm"
            >
              Document type is required.
            </div>
          </div>

          <!-- Document Area of Focus Field -->
          <div class="mb-4">
            <label
              for="areaOfFocusId"
              class="block text-sm font-sans text-white"
              >Document Area of focus</label
            >
            <select
              formControlName="areaOfFocusId"
              id="areaOfFocusId"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans border border-[#FFFFFF2E] rounded-xl bg-[#873DE64D] text-[#FFFFFF75] focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
              <option
                class="bg-[#221139e1] text-white"
                *ngFor="let area of areaOfFocusList"
                [value]="area.id"
              >
                {{ area.name }}
              </option>
            </select>
            <div
              *ngIf="
                requestForm.get('areaOfFocusId')?.touched &&
                requestForm.get('areaOfFocusId')?.invalid
              "
              class="text-red-500 text-sm"
            >
              Document area of focus is required.
            </div>
          </div>

          <!-- Description Field -->
          <div class="mb-4">
            <label for="description" class="block text-sm font-sans text-white"
              >Describe the document content</label
            >
            <textarea
              formControlName="description"
              id="description"
              placeholder="Describe the document content..."
              rows="4"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans rounded-xl border border-[#FFFFFF2E] bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            ></textarea>
            <div
              *ngIf="
                requestForm.get('description')?.touched &&
                requestForm.get('description')?.invalid
              "
              class="text-red-500 text-sm"
            >
              Description is required.
            </div>
          </div>

          <!-- Language Field (Radio Buttons) -->
          <div class="mb-4">
            <label class="block text-sm mb-2 font-sans text-white"
              >Language</label
            >
            <div class="flex items-center gap-5">
              <label class="flex items-center">
                <input
                  type="radio"
                  formControlName="language"
                  value="Arabic"
                  class="w-4 h-4 text-[#924FE8] border-[#924FE8] focus:ring-[#924FE8]"
                />
                <span class="ms-2 text-sm font-sans text-white">Arabic</span>
              </label>
              <label class="flex items-center">
                <input
                  type="radio"
                  formControlName="language"
                  value="English"
                  class="w-4 h-4 text-[#924FE8] border-[#924FE8] focus:ring-[#924FE8]"
                />
                <span class="ms-2 text-sm font-sans text-white">English</span>
              </label>
              <label class="flex items-center">
                <input
                  type="radio"
                  formControlName="language"
                  value="Other"
                  class="w-4 h-4 text-[#924FE8] border-[#924FE8] focus:ring-[#924FE8]"
                />
                <span class="ms-2 text-sm font-sans text-white">Other</span>
              </label>
            </div>
            <div
              *ngIf="
                requestForm.get('language')?.touched &&
                requestForm.get('language')?.invalid
              "
              class="text-red-500 text-sm"
            >
              Please select a language.
            </div>
          </div>

          <!-- Submit Button -->
          <div>
            <button
              type="submit"
              class="w-full py-3 bg-[#9241DC] border border-[#FFFFFF2E] text-white transition-colors font-medium rounded-lg hover:bg-[#9241DC]/50 focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
              Submit
            </button>
          </div>

          <div *ngIf="successMessage">
            <p class="mt-2 w-full bg-green-50 text-green-500 p-2 rounded-md">
              {{ successMessage }}
            </p>
          </div>

          <div *ngIf="errorMessage">
            <p class="mt-2 w-full bg-red-100 text-red-500 p-2 rounded-md">
              {{ errorMessage }}
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
