<div class="md:px-20 px-5">
  <div
    class="w-full relative mt-24 bg-gradient-to-l overflow-hidden from-[#9361c8] to-[#380D5E] rounded-xl"
  >
    <img
      src="/images/contactusicon.svg"
      class="absolute md:w-72 md:h-52 md:-top-4 hidden md:block -top-0 left-0 md:-left-0"
    />
    <img
      src="/images/contactussm.svg"
      class="absolute block md:hidden -top-0 right-0"
    />

    <!-- grid container -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 md:gap-20 gap-10 items-center md:p-10 p-[16px]"
    >
      <!--  left side -->
      <div>
        <h2
          class="text-[28px] md:text-[52px] md:leading-[62px] leading-[38px] text-white w-full font-semibold"
        >
          Can't find a document? <br />
          Tell us what to build <br class="block md:hidden" />
          next..
        </h2>
        <p class="text-sm mt-5 font-sans text-[#E9D8FC]">
          We’re constantly adding new, comprehensive consulting
          <br class="md:block hidden" />
          templates and would love your input <br class="block md:hidden" />
          on where to focus next.
        </p>
      </div>

      <!--  right side -->
      <div
        class="bg-gradient-to-tr to-[#261536]/100 from-[#54148C]/100 md:p-8 p-4 rounded-[20px] shadow-lg"
      >
        <form>
          <!-- Email -->
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-white"
              >E-mail</label
            >
            <input
              type="email"
              id="email"
              placeholder="Enter your e-mail"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans rounded-xl border border-[#FFFFFF2E] bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            />
          </div>

          <!-- First and Last Name -->
          <div class="flex-1 mb-4">
            <label
              for="document-name"
              class="block text-sm font-medium text-white"
              >Document Name</label
            >
            <input
              type="text"
              id="document-name"
              placeholder="Write a name"
              class="w-full mt-2 py-2.5 px-3 border text-[14px] font-sans border-[#FFFFFF2E] rounded-xl bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            />
          </div>

          <!-- Document type -->
          <div class="flex-1 mb-4">
            <label
              for="document-type"
              class="block text-sm font-medium text-white"
              >Document Type</label
            >

            <select
              id="document-area"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans border border-[#FFFFFF2E] rounded-xl bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
              <option class="bg-[#221139e1]" disabled selected>
                Choose a type
              </option>
              <option class="bg-[#221139e1]" value="US">Type 1</option>
              <option class="bg-[#221139e1]" value="CA">Type 2</option>
              <option class="bg-[#221139e1]" value="FR">Type 3</option>
              <option class="bg-[#221139e1]" value="DE">Type 4</option>
            </select>
          </div>

          <!-- Document type -->
          <div class="mb-4 flex-1">
            <label
              for="document-area"
              class="block text-sm font-medium text-white"
              >Document Area of focus</label
            >
            <select
              id="document-area"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans border border-[#FFFFFF2E] rounded-xl bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
              <option class="bg-[#221139e1]" disabled selected>
                Choose a type
              </option>
              <option class="bg-[#221139e1]" value="US">Type 1</option>
              <option class="bg-[#221139e1]" value="CA">Type 2</option>
              <option class="bg-[#221139e1]" value="FR">Type 3</option>
              <option class="bg-[#221139e1]" value="DE">Type 4</option>
            </select>
          </div>

          <!-- Message -->
          <div class="mb-4">
            <label for="message" class="block text-sm font-medium text-white"
              >Describe the document content</label
            >
            <textarea
              id="message"
              placeholder="Describe the document content..."
              rows="4"
              class="w-full mt-2 py-2.5 px-3 text-[14px] font-sans rounded-xl border border-[#FFFFFF2E] bg-[#873DE64D] text-[#FFFFFF75] placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-500"
            ></textarea>
          </div>

          <div class="mb-4">
            <label
              for="language"
              class="block text-sm mb-2 font-medium text-white"
              >Describe Language</label
            >
            <div class="flex items-center gap-5">
              <div class="flex items-center">
                <input
                  id="default-radio-1"
                  type="radio"
                  value=""
                  name="default-radio"
                  class="w-4 h-4 text-[#924FE8] checked:bg-[#924FE8] bg-[#924FE8] border-[#924FE8] focus:ring-[#924FE8]"
                />
                <label
                  for="default-radio-1"
                  class="ms-2 text-sm font-medium text-white dark:text-gray-300"
                  >Arabic</label
                >
              </div>
              <div class="flex items-center">
                <input
                  checked
                  id="default-radio-2"
                  type="radio"
                  value=""
                  name="default-radio"
                  class="w-4 h-4 text-[#924FE8] checked:bg-[#924FE8] bg-[#924FE8] border-[#924FE8] focus:ring-[#924FE8]"
                />
                <label
                  for="default-radio-2"
                  class="ms-2 text-sm font-medium text-white dark:text-gray-300"
                  >English</label
                >
              </div>
              <div class="flex items-center">
                <input
                  checked
                  id="default-radio-3"
                  type="radio"
                  value=""
                  name="default-radio"
                  class="w-4 h-4 text-[#924FE8] checked:bg-[#924FE8] bg-[#924FE8] border-[#924FE8] focus:ring-[#924FE8]"
                />
                <label
                  for="default-radio-3"
                  class="ms-2 text-sm font-medium text-white dark:text-gray-300"
                  >Other</label
                >
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div>
            <button
              type="submit"
              class="w-full py-3 bg-[#9241DC] border border-[#FFFFFF2E] text-white transition-colors font-medium rounded-lg hover:bg-[#9241DC]/50 focus:outline-none focus:ring-2 focus:ring-purple-500"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
