<div class="md:px-20 px-2 py-20">
  <div class="mb-[144px]">
    <div class="flex flex-col big:flex-row justify-between">
      <div class="w-full mb-4 md:mb-0">
        <h3
          class="text-[#667085] md:w-[398.91796875px] font-medium text-[24px]"
        >
          {{ mission.title }}
        </h3>
      </div>
      <div class="w-full">
        <p
          class="text-[#101828] font-medium mb-6 text-[24px] md:text-[36px] w-full big:w-[841.08203125px]"
        >
          {{ mission.description }}
        </p>

        <!-- Purple/Pink Gradient Background with Diamond Pattern -->
        <img
          src="/images/About us visual section.png"
          class="h-[200px]"
          alt=""
        />
      </div>
    </div>
  </div>
  <hr />

  <div>
    <div class="flex flex-col big:flex-row justify-between my-20">
      <div class="w-full mb-4 md:mb-0">
        <h3
          class="text-[#667085] md:w-[398.91796875px] font-medium text-[24px]"
        >
          {{ aspiration.title }}
        </h3>
        <!-- <h3
          class="text-[#667085] md:w-[398.91796875px] lato-bold  text-[24px]"
        >
          {{ aspiration.title }}
        </h3> -->
      </div>
      <div class="w-full">
        <p
          class="text-[#101828] font-medium mb-6 text-[24px] md:text-[36px] w-full big:w-[841.08203125px]"
        >
          {{ aspiration.description }}
        </p>

        <img
          src="/images/About us visual section-1.png"
          class="h-[200px]"
          alt=""
        />
      </div>
    </div>
  </div>

  <hr />
</div>
