<div class="w-full bg-[#070322]">
  <app-navbar></app-navbar>
  <div class="w-full bg-[#070322]">
    <app-hero-section-new-landing></app-hero-section-new-landing>

    <div class="relative ipad:bottom-80">
      <app-three-cards></app-three-cards>
    </div>

    <div class="relative ipad:bottom-64">
      <app-card></app-card>
    </div>

    <div class="relative ipad:bottom-40">
      <app-features></app-features>
    </div>

    <div class="relative ipad:bottom-10">
      <app-faqs></app-faqs>
    </div>
    <app-footer></app-footer>
  </div>
</div>
