@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

[disabled] {
  @apply cursor-not-allowed;
}

@import "primeicons/primeicons.css";

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Medium.otf") format("woff2"),
    url("/fonts/PPNeueMontreal-Bold.otf") format("woff2");
  font-weight: 500 700;
  font-display: swap;
}

body {
  font-family: "Neue Montreal", sans-serif;
}
