<section class="mt-20 relative z-10">
  <div>
    <img
      src="/images/faq_Background.png"
      class="absolute w-full h-full rounded-2xl md:-top-4 -z-10 hidden md:block"
    />
  </div>
  <div>
    <img
      src="/images/faqsmall.png"
      class="md:hidden absolute w-full h-full -z-10 block"
    />
  </div>
  <div
    class="py-8 px-[16px] md:px-20 mx-auto max-w-screen-2xl sm:py-16 lg:px-6"
  >
    <div class="text-center flex justify-center mb-4 items-center w-full">
      <p
        class="text-white flex items-center gap-2 text-center justify-center bg-[#873de6]/30 text-sm border border-[#FFFFFF24]/20 py-1 px-2 w-20 rounded-full"
      >
        <img src="/images/checkmark.png" class="w-4 h-4" />
        FAQs
      </p>
    </div>
    <h2
      class="mb-6 lg:mb-8 text-[40px] md:text-[44px] leading-[52px] text-center text-white dark:text-white tracking-relaxed"
    >
      Frequently Asked Questions
    </h2>

    <h2
      class="mb-6 lg:mb-8 text-[16px] w-full font-sans text-center text-[#D0D5DD]"
    >
      Find answers to your questions about <br class="block md:hidden" />
      Consultitide’s templates, <br class="hidden md:block" />
      features, pricing, and <br class="block md:hidden" />
      support.
    </h2>

    <div class="md:px-20 max-w-3xl mx-auto">
      <div
        *ngFor="let faq of faqData; let i = index"
        class="border py-[16px] md:px-6 px-4 rounded-lg mb-2 bg-[#0B0C0E] border-[#FFFFFF24]"
      >
        <h2 [id]="'accordion-flush-heading-' + i">
          <button
            type="button"
            class="flex justify-between items-center py-1 w-full font-medium text-left"
            (click)="toggleAccordion(i)"
          >
            <span class="text-xl font-sans text-[#FFFFFF]">{{
              faq.question
            }}</span>
            <span class="text-xl text-[#FFFFFF99] font-sans font-[100]">{{
              isOpen(i) ? "-" : "+"
            }}</span>
          </button>
        </h2>
        <div [hidden]="!isOpen(i)">
          <div class="py-2">
            <p
              [innerHTML]="faq.answer"
              class="text-[#FFFFFF99]/60 font-sans dark:text-gray-400"
            ></p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col my-8 space-y-4 sm:flex-row items-center w-full justify-center sm:space-y-0 sm:space-x-4"
    >
      <a
        href="/faqs"
        class="inline-flex w-fit justify-center bg-[#161B26] hover:bg-[#212939] border border-[#333741] transition-colors text-[#CECFD2] items-center py-1 px-4 text-base font-medium text-center rounded-lg"
      >
        See All FAQs
        <img
          src="/images/arrow-right-line.svg"
          class="ps-2 w-7 h-7"
          alt="arrow_right"
        />
      </a>
    </div>

    <div
      class="w-full md:text-center text-left font-sans text-[16px] text-[#D0D5DD]"
    >
      <p>
        Need additional help? Contact us at
        <a href="hello@consultitude.com" class="underline" target="_blank"
          >hello&#64;consultitude.com</a
        >
        anytime.
      </p>
    </div>
  </div>
</section>
