<footer *ngIf="!hidden" class="text-white py-8">
  <div class="container mx-auto px-6">
    <div
      class="text-center w-full space-y-8 mb-10 flex flex-col justify-center items-center"
    >
      <img src="/images/Footer Icons.svg" alt="logo" />
      <h2 class="text-4xl w-[400px] font-semibold">
        Ready to transform your consulting journey?
      </h2>
      <a
        href="#"
        class="mt-4 inline-block font-semibold text-xl bg-purple-600 text-white py-2 px-6 rounded-lg hover:bg-purple-700 transition duration-300"
      >
        Get Started →
      </a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-4 gap-6 mt-8">
      <div>
        <h3 class="mb-2 text-gray-400">Company</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >About us</a
            >
          </li>
          <li>
            <a
              routerLink="/contact-us"
              routerLinkActive="underline"
              class="text-white hover:text-gray-400 transition-colors"
              >Contact us</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Become an Expert</a
            >
          </li>
          <li>
            <a
              routerLink="/terms-and-conditions"
              routerLinkActive="underline"
              class="text-white hover:text-gray-400 transition-colors"
              >Terms & Conditions</a
            >
          </li>
          <li>
            <a
              routerLink="/privacy-and-policy"
              routerLinkActive="underline"
              class="text-white hover:text-gray-400 transition-colors"
              >Privacy Policy</a
            >
          </li>
          <li>
            <a
              routerLink="/cookie-policy"
              routerLinkActive="underline"
              class="text-white hover:text-gray-400 transition-colors"
              >Cookies Policy</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-2 text-gray-400">Templates</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Consulting Proposal</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Consulting Toolkit</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Business Strategy</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Business Case</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Market Analysis</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Market Entry Analysis</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Consulting Maps Bundle</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Due Diligence Report</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-white underline hover:text-gray-400 transition-colors"
              >Explore All →</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h3 class="mb-2 text-gray-400">Categories</h3>
        <ul class="space-y-2">
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Strategy Templates</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Consulting PowerPoint Templates</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-gray-400 transition-colors"
              >Market Analysis Templates</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-gray-400 mb-2">Follow us</h3>
        <div class="flex space-x-4 items-center">
          <a href="#" class="text-white hover:text-gray-400 transition-colors">
            <img
              src="/images/linkedin.png"
              alt="linked in icon"
              class="w-5 h-5"
            />
          </a>
          <a href="#" class="text-white hover:text-gray-400 transition-colors">
            <img
              src="/images/facebook.png"
              alt="Facebook icon"
              class="w-6 h-6"
            />
          </a>
          <a href="#" class="text-white hover:text-gray-400 transition-colors">
            <img
              src="/images/instagram.png"
              alt="instagram icon"
              class="w-6 h-6"
            />
          </a>
          <a href="#" class="text-white hover:text-gray-400 transition-colors">
            <img src="/images/X.png" alt="X icon" class="w-5 h-5" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
